p.refhapps { margin: 0; }
p.refrank { 
    margin-top: 0;
    margin-bottom: 10;
}
p.comphapps { margin: 0; }
p.comprank {
    margin-top: 0;
    margin-bottom: 10;
}
.hoverinfogroup h3 { 
    margin-top: 0;
    margin-bottom: 10;
}

.hoverinfogroup {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  // pointer-events: none;
}
