/*
* Main.css
* The MITRE Corporation
*/
.sitename a:link,.sitename a:visited,.sitename a:hover,.sitename a:active{color:white;}
body .papers {min-width:1200px;}
input[type="submit"] {margin-top:9px;}
input[type="text"] {width:100px;}
.pressblock {margin-left:0px; font-size:14px; line-height:27px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;}
.wordnotfound{color:gray;}
.error{color:red;}
/* form { z-index: 1; } */

/* This doesn't seem to work for me */
.img-polaroid { border: 1px !important; }

/* #timeseries{margin-left:-27px;} */





#footer{border-top:1px solid #dddddd;}
#footer a{font-weight:bold;color:#777777;}
#footer p.logo{font-size:15px;line-height:1.8;margin-top:15px;} 
#footer ul#footer-nav{float:left;width:700px;margin:3px 0 10px 0;}
#footer-nav li{float:left;margin:0 10px 0 0;padding:0 10px 0 0;line-height:1;border-right:1px solid #cccccc;}
ol,ul{list-style:none;}

svg{font:12px sans-serif;}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.legendrect { cursor: pointer; }
.yearrect { cursor: pointer; }
.expanderbutton { cursor: pointer; }
.sumrectL { cursor: pointer; }
.sumrectR { cursor: pointer; }
.resetbutton { cursor: pointer; }
.translatebutton { cursor: pointer; }

ul.missing { list-style: square; }

/* don't make the main dropdown darker */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus { 
    color: #555;
    background-color: #f8f8f8;
}
