path.country { fill: #9ecae1;
	       stroke-width: 0.5;
	       stroke: #f0f0f0; }



.graticule {
  fill: none;
  stroke: #636B62;
  stroke-width: .5px;
  stroke-dasharray: 2,2;
}

.foreground {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  pointer-events: all;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.foreground.zooming {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

path.timeseries { fill: none;
		  stroke-width: 0.5;
		  stroke: gray; }

#reportrange {
	background: #ffffff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	color: #333333;
	padding: 8px;
	line-height: 18px;
	cursor: pointer;
}
#reportrange .caret {
	margin-top: 8px;
	margin-left: 2px;
}
#reportrange span {
	padding-left: 3px;
}

#maprange {
	background: #ffffff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	color: #333333;
	padding: 8px;
	line-height: 18px;
	cursor: pointer;
}
#maprange .caret {
	margin-top: 8px;
	margin-left: 2px;
}
#maprange span {
	padding-left: 3px;
}

.row.daterow { padding-bottom: 10px; }

/* #map01 { position: fixed; */
/*          width: 500px; */
/*          height: 500px;} */

/* .row.maprow { padding-bottom: -10px; */
/* 	      margin-bottom: -10px; } */
