# annoyances
*.pyc
*~
# private settings
.env
# static files served in production
mysite/static/hedonometer
mysite/static/consulting
mysite/static/storybreaker
mysite/static/swn
mysite/static/vaccv
# virtual environment
pyenv
# daily backup of graphics on the local computer
screenshots

