/*
* Wordshift.css
* The MITRE Corporation
*/

body {min-width: 720px;}
text {
	font: 12px sans-serif;
}

h3 {
	font: 18px sans-serif;
	height: 10px;
}

.posVibe{
	fill: green;
}

.negVibe{
	fill: red;
}

.bar.negative {
  fill: #796BFE;
  stroke:black;
  stroke-width: 0.5px;
}

.bar.positive {
  fill: #FDFF76;
  stroke:black;
  stroke-width: 0.5px;
}

.text.negative {
  fill: #808080;
}

.text.positive {
  fill: #0D0D0D;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
