{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    
    <title>Storybreaker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="Storybreaker"/>
    <meta name="developer" content="Andy Reagan and Jake Williams, UVM"/>
    <meta name="google-site-verification" content="qL0BJxj9IpszlaCQOt8ocvPUY4VgBBpsbsj5FnR6tyM" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Storybreaker">
    <meta name="twitter:title" content="The Storybreaker">

    {% block headerextrameta %}
    {% endblock %}

    <!-- Styles -->
    {% block headercss %}
    <link href="{% static "hedonometer/css/base-all.min.css" %}" rel="stylesheet">
    {% endblock %}

    {% block headerjs %}
    {% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">

    <!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-539b215a08fde1a0"></script> -->
    <script type="text/javascript">
      var addthis_config = addthis_config || {};
      addthis_config.data_track_addressbar = false;
      addthis_config.data_track_clickback = false; 

      var addthis_share = addthis_share || {}
      addthis_share = {
        // title: "title", // doesn't do anything, documentation patchy
        passthrough : {
          twitter: {
            via: "storybreaker",
            text: "storybreaker:"
          }
        }
      }
    </script>

  </head>

  <body>
    {% block nav %}

    <!-- <div class="navbar navbar-default navbar-fixed-top" role="navigation"> -->
    <!--   <div class="container"> -->
    <!-- 	<div class="navbar-header"> -->
    <!-- 	  <div class="navbar-brand"> -->
    <!-- 	  <img alt="logo" src="{% static "hedonometer/graphics/hedonometer-logo.pn" %}g" class="img-responsive img-circle" width="23px"> -->
    <!-- 	  </div> -->
    <!-- 	  <a class="navbar-brand" href="/index.html">hedonometer</a> -->
    <!-- 	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> -->
    <!-- 	    <span class="icon-bar"></span> -->
    <!-- 	    <span class="icon-bar"></span> -->

    <!-- 	  </button> -->
    <!-- 	</div> -->
    <!-- 	<div class="navbar-collapse collapse"> -->
    <!-- 	  <ul class="nav navbar-nav"> -->
    <!-- 	    <li><a href="/about.html">About</a></li> -->
    <!-- 	    <li><a href="/instructions.html">Shifts</a></li> -->
    <!-- 	    <li><a href="/words.html">Words</a></li> -->
    <!-- 	    <li><a href="http://onehappybird.com" target="_blank">Blog</a></li> -->
    <!-- 	    <li><a href="/press.html">Press</a></li> -->
    <!-- 	    <li><a href="/papers.html">Papers</a></li> -->
    <!-- 	    <li><a href="/talks.html">Talks</a></li> -->
    <!-- 	    <li><a href="/api.html">API</a></li> -->
    <!-- 	  </ul> -->
    <!-- 	</div> -->
    <!--   </div> -->
    <!-- </div> -->

    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block test %} 
    {% endblock %}

    {% block footer %}

    <div id="footer">
    <div class="container">

	<p class="logo">

	  <a href="http://uvm.edu"  target="_blank"><img alt="University of Vermont" src="{% static "hedonometer/graphics/uvmlogosolid3425k.png" %}" style="padding-right:15px;height:30px;"/></a>

	  <a href="http://www.uvm.edu/~cmplxsys/"  target="_blank"><img alt="University of Vermont Complex Systems Center" src="{% static "hedonometer/graphics/CSCnew.png" %}" style="padding-right:15px;height:30px;border:1;"/></a>	
	  <a href="http://www.uvm.edu/~vacc/"  target="_blank"><img alt="University of Vermont Advanced Computing Core" src="{% static "hedonometer/graphics/vacc.jpg" %}" style="padding-right:15px;height:30px;border:1;"/></a>
	  <a href="http://onehappybird.com/" target="_blank"><img alt="computational story lab" src="{% static "hedonometer/graphics/csl.png" %}" style="height:30px;" border="3px"/></a>
	</p>
      </div> <!-- /footer -->
    </div>

    {% endblock %}

    {% block bottomjs %}

    <script src="{% static "hedonometer/js/base-all.min.js" %}"></script>

    {% endblock %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36404428-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>


