{% extends "hedonometer/base.html" %}
{% load staticfiles %}
{% block headercss %}
<link href="{% static "hedonometer/css/books-all.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-5">
	<div id="booktitle" class="pullleft"></div>
      </div><!-- col -->
      <!-- <div class="col-xs-12 col-md-0"> -->
      <!-- </div><\!-- col -\-> -->
      <div class="col-xs-12 col-md-7">
	<!-- <label class="col-sm-2 input-label">Search:</label> -->
	<h2> 
	  <div class="input-group">
	    <!-- <h4>Search:</h4> -->
	    <!-- <input type="text" class="form-control typeahead" id="wordsearch" placeholder="Moby Dick"> -->
	    <input type="text" class="form-control" id="wordsearch" placeholder="Search Books">
	    <span class="input-group-btn">
	      <!-- Button and dropdown menu -->
	      <!-- <button class="btn btn-default" type="submit" id="showallmatching">Search</button> -->
	      <div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" id="searchtype" data-toggle="dropdown">by 
		  <span class="selection">Title</span>
		  <span class="caret"></span>
		  <span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu search">  <!-- dropdown-menu-right  role="menu"-->
		  <li><a href="#">Title</a></li>
		  <li><a href="#">Author</a></li>
		</ul>
	      </div>
	      <div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
		  Classics
		  <span class="caret"></span>
		  <span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu">
		  <li><a href="/books.html?book=Moby%20Dick">Moby Dick</a></li>
		  <li><a href="/books.html?book=Die%20Verwandlung">Die Verwandlung</a></li>
		  <li><a href="/books.html?book=Don%20Quixote">Don Quixote</a></li>
		  <li><a href="/books.html?book=Ulysses">Ulysses</a></li>
		  <li><a href="/books.html?book=The%20Three%20Musketeers">The Three Musketeers</a></li>
		  <li><a href="/books.html?book=Oliver%20Twist">Oliver Twist</a></li>
		  <li><a href="/books.html?book=Crime%20and%20Punishment:%20English%20Translation">Crime and Punishment: English Translation</a></li>
		  <li><a href="/books.html?book=Die%20Verwandlung:%20English%20Translation">Die Verwandlung: English Translation</a></li>
		  <li><a href="/books.html?book=The%20Adventures%20of%20Sherlock%20Holmes">The Adventures of Sherlock Holmes</a></li>
		  <li><a href="/books.html?book="></a></li>
		  <li><a href="/books.html?book=Count%20of%20Monte%20Cristo">Count of Monte Cristo</a></li>
		  <li><a href="/books.html?book=Adventures%20of%20Huckleberry%20Finn">Adventures of Huckleberry Finn</a></li>
		  <li><a href="/books.html?book=Great%20Expectations">Great Expectations</a></li>
		  <li><a href="/books.html?book=Wuthering%20Heights">Wuthering Heights</a></li>
		  <li><a href="/books.html?book=The%20Adventures%20of%20Tom%20Sawyer">The Adventures of Tom Sawyer</a></li>
		  <li><a href="/books.html?book=Pride%20and%20Prejudice">Pride and Prejudice</a></li>
		  <li><a href="/books.html?book=Anna%20Karenina">Anna Karenina</a></li>
		  <li><a href="/books.html?book=Sense%20and%20Sensibility">Sense and Sensibility</a></li>
		  <li><a href="/books.html?book=A%20Tale%20of%20Two%20Cities">A Tale of Two Cities</a></li>
		  <li><a href="/books.html?book=Crime%20and%20Punishment">Crime and Punishment</a></li>
		  <li><a href="/books.html?book=Frankenstein,%20Or%20the%20Modern%20Prometheus">Frankenstein, Or the Modern Prometheus</a></li>
		  <li><a href="/books.html?book=I%20Have%20a%20Dream">I Have a Dream</a></li>
		  <li><a href="/books.html?book=Leaves%20of%20Grass">Leaves of Grass</a></li>
		  <li><a href="/books.html?book=Alice's%20Adventures%20in%20Wonderland">Alice's Adventures in Wonderland</a></li>
		</ul>
	      </div>
	      <div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
		  Harry Potter
		  <span class="caret"></span>
		  <span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu">
		  <li><a href="books.html?book=Harry%20Potter%20and%20the%20Sorcerer%27s%20Stone">Harry Potter and the Sorcerer's Stone</a></li>
		  <li><a href="books.html?book=Harry%20Potter%20and%20the%20Chamber%20of%20Secrets">Harry Potter and the Chamber of Secrets</a></li>
		  <li><a href="books.html?book=Harry%20Potter%20and%20the%20Prisoner%20of%20Azkaban">Harry Potter and the Prisoner of Azkaban</a></li>
		  <li><a href="books.html?book=Harry%20Potter%20and%20the%20Goblet%20of%20Fire">Harry Potter and the Goblet of Fire</a></li>
		  <li><a href="books.html?book=Harry%20Potter%20and%20the%20Order%20of%20the%20Phoenix">Harry Potter and the Order of the Phoenix</a></li>
		  <li><a href="books.html?book=Harry%20Potter%20and%20the%20Half-Blood%20Prince">Harry Potter and the Half-Blood Prince</a></li>
		  <li><a href="books.html?book=Harry%20Potter%20and%20the%20Deathly%20Hallows">Harry Potter and the Deathly Hallows</a></li>
		  <li><a href="books.html?book=Harry%20Potter%20(all%20books%20together)">Harry Potter (all books together)</a></li>
		</ul>
	      </div>
              <button type="button" class="btn btn-default" tabindex="-1" id="randombook">Random</button>
	    </span>
	  </div>
	</h2>
      </div><!-- col -->
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-12 col-md-6">
	<div id="bookauthor" class="pullleft"></div>
      </div><!-- row -->
    </div><!-- row -->
    </div><!-- row -->
    <br>
    <div class="row">
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-12 col-sm-7">
	<!-- <h5>Timeseries and lens</h5> -->

	<div class="paper">
	  <b>Book happiness time series:</b>
	  <p>Explore the work's emotional dynamics by sliding and resizing the reference and comparison sections.</p>

	  <div id="chapters01" class="figure refslider"></div>
	  <div id="chapters03" class="figure"></div>
	  <div id="chapters02" class="figure compslider"></div>
	</div>



	<br>

	  <div class="paper paper-curl-left">
	    <div id="caption01" class="hidden-xs">
	      <b>Lens (for advanced users):</b>
	      <p>Slide and resize the stop-window to change the lens:</p>

	      <div id="lens01" class="figure"></div>
	    </div>

	    <div class="visible-xs">
	      <b>Lens (for advanced users):</b>
	      <p>Available on desktop.</p>
	    </div>
	  </div>

	<br>



      </div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs"></div>

      <div class="col-xs-12 col-sm-5">
	<div class="paper paper-curl-right">
	<b>Word Shift:</b>
	<!-- <p>Click on the graph and drag up to reveal additional words.</p> -->
	<div id="figure01" class="figure">
	    <p class="sumtext"></p>
	    <p class="sumtext"></p>
	    <p class="sumtext"></p>
	</div>
	</div>
	<div class="paper">
	  <b>Catalog Card</b>
	  <p class="basicinfobox">
	    Title:
	    <br>
	    Author:
	    <br>
	    Language:
	    <br>
	    Number of Words: 
	    <br>
	    Taxonomy (detected story type): 
	    <br>
	    10 Most Similar: 
	  </p>
	</div>
      </div>
    </div> <!-- row? -->
    <div class="row">
      <div class="col-xs-12 col-sm-4">
	</div>
      <div class="col-xs-12 col-sm-5">
	<p>Inspired by Kurt Vonnegut's <a href="https://www.youtube.com/watch?v=oP3c1h8v2ZQ">Shapes of Stories</a>.</p>
	<p>More details can also be found in the online appendices of the full paper <a href="http://www.uvm.edu/storylab/share/papers/dodds2014a/index.html">Human language reveals a universal positivity bias</a>.</p>
	</div> 
      <div class="col-xs-12 col-sm-2">
	</div>
    </div> <!-- row? -->
    <br>
  </div><!-- /.container-fluid -->
</div><!-- /.container -->
{% endblock %}

{% block bottomjs %}
    <script src="{% static "hedonometer/js/books-all.js" %}"></script>
{% endblock %}



