{% extends "hedonometer/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
	<div id="booktitle" class="pullleft"></div>
      </div><!-- col -->
      <div class="col-xs-12 col-md-1">
      </div><!-- col -->
      <div class="col-xs-12 col-md-5">
	<!-- <label class="col-sm-2 input-label">Search:</label> -->
	<h2>
	  <div class="input-group">
	    <!-- <h4>Search:</h4> -->
	    <!-- <input type="text" class="form-control typeahead" id="wordsearch" placeholder="Moby Dick"> -->
	    <input type="text" class="form-control" placeholder="Moby Dick">
	    <div class="input-group-btn">
	      <!-- Button and dropdown menu -->
	      <!-- <button class="btn btn-default" type="submit" id="showallmatching">Search</button> -->
              <button type="button" class="btn btn-default" tabindex="-1">Search All</button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
		Classics
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
		<li><a href="#">Moby Dick</a></li>
		<li><a href="#">Etc.</a></li>
              </ul>
	    </div>
	  </div>
	</h2>
      </div><!-- col -->
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-12 col-sm-7">
	<h5>Timeseries and lens</h5>

	<div id="chapters01" class="figure"></div>
	<div id="chapters03" class="figure"></div>
	<div id="chapters02" class="figure"></div>

	<br>

	<div id="caption01">
	  Slide and resize the stop-window to change the lens:
	</div>

	<br>

	<div id="lens01" class="figure"></div>

      </div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs"></div>

      <div class="col-xs-12 col-sm-5">
	<h5>Shift</h5>
	<p>Click on the graph and drag up to reveal additional words.</p>
	<div id="figure01" class="figure">
	  <center>
	    <p class="sumtext"></p>
	    <p class="sumtext"></p>
	    <p class="sumtext"></p>
	  </center>
	</div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div><!-- /.container -->
{% endblock %}

{% block bottomjs %}
    <script src="{% static "hedonometer/js/books-all.min.js" %}"></script>
{% endblock %}



