<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Storylab</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

  </head>
  <body>

    <div class="container">

      <h1>Human language reveals a universal positivity bias <a href="http://arxiv.org/abs/1406.3855" target="_blank">[arxiv]</a></h1>

      <h4>Peter Sheridan Dodds, Eric Clark, Suma Desu, Morgan Frank, Andrew Reagan, Jake Ryland Williams, Lewis Mitchell, Kameron Decker Harris, Isabel M. Kloumann, James P. Bagrow, Karine Megerdoomian, Matthew T. McMahon, Brian F. Tivnan, and Christopher M. Danforth</h4>
      
      <div id="topteamrow"></div>

      <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>
	    <!-- <a class="navbar-brand" href="#">Appendices:</a> -->
	    <a class="navbar-brand" href="index.html">Online Appendices</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
              <li><a href="index.html">Main</a></li>
              <li class="dropdown active">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Books <b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li><a href="books-about.html">About Books</a></li>
		  <li><a href="books-search.html">Search</a></li>
		  <li class="divider">
                  <li class="dropdown-header">Specific Examples</li>
		  <li><a href="books.html?book=moby_dick">Moby Dick</a></li>
		  <li><a href="books.html?book=anna_karenina">Anna Karenina</a></li>
		  <li><a href="books.html?book=count_of_monte_cristo">Count of Monte Cristo</a></li>
		  <li><a href="books.html?book=crime_and_punishment">Crime and Punishment</a></li>
		  <li><a href="books.html?book=crime_and_punishment_en">Crime and Punishment (English)</a></li>
		  <li><a href="books.html?book=die_verwandlung">Die Verwandlung</a></li>
		  <li><a href="books.html?book=die_verwandlung_en">Die Verwandlung (English)</a></li>
		  <li><a href="books.html?book=don_quixote">Don Quixote</a></li>
		  <li><a href="books.html?book=the_three_musketeers">The Three Musketeers</a></li>
		  <li><a href="books.html?book=twoCities">A Tale of Two Cities</a></li>
		  <li><a href="books.html?book=expectations">Great Expectations</a></li>
		  <li><a href="books.html?book=pride">Price and Prejudice</a></li>
		  <li><a href="books.html?book=huck">Adventures of Huckleberry Finn</a></li> 
		  <li><a href="books.html?book=alice">Alice's Adventures in Wonderland</a></li> 
		  <li><a href="books.html?book=tom">The Adventures of Tom Sawyer</a></li> 
		  <li><a href="books.html?book=sherlock">The Adventures of Sherlock Holmes</a></li> 
		  <li><a href="books.html?book=leaves">Leaves of Grass</a></li> 
		  <li><a href="books.html?book=ulysses">Ulysses</a></li> 
		  <li><a href="books.html?book=frankenstein">Frakenstein; Or the Modern Prometheus</a></li> 
		  <li><a href="books.html?book=heights">Wuthering Heights</a></li> 
		  <li><a href="books.html?book=sense">Sense and Sensibility</a></li> 
		  <li><a href="books.html?twist">Oliver Twist</a></li>
		</ul>
              </li>
              <li><a href="translations.html">Translation Comparisons</a></li>
              <li><a href="data.html">Data</a></li>
              <li><a href="talks.html">Talks</a></li>
              <li><a href="team.html">Team</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
      </nav>

      <div class="container-fluid">
	<div class="row">
	  <div class="col-xs-12">
	    <center>
	      <div id="booktitle"></div>
	    </center>
	  </div><!-- col -->
	</div><!-- row -->
	<div class="row">
	  <div class="col-xs-12 col-sm-7">
	    <h5>Timeseries and lens</h5>

	    <div id="chapters01" class="figure"></div>
	    <div id="chapters03" class="figure"></div>
	    <div id="chapters02" class="figure"></div>

	    <br>

	    <div id="caption01">
	      Slide and resize the stop-window to change the lens:
	    </div>

	    <br>

	    <div id="lens01" class="figure"></div>

	  </div>

	  <!-- Add the extra clearfix for only the required viewport -->
	  <div class="clearfix visible-xs"></div>

	  <div class="col-xs-12 col-sm-5">
	    <h5>Shift</h5>
	    <p>Click on the graph and drag up to reveal additional words.</p>
	    <div id="figure01" class="figure">
	      <center>
		<p class="sumtext"></p>
		<p class="sumtext"></p>
		<p class="sumtext"></p>
	      </center>
	    </div>
	  </div>
	</div>
      </div><!-- /.container-fluid -->
    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- <script src="js/d3.andy.js" charset="utf-8"></script> -->
    <!-- <script src="js/urllib.js" charset="utf-8"></script> -->
    <!-- <script src="js/plotShift.js" charset="utf-8"></script> -->
    <!-- <script src="js/shift.js" charset="utf-8"></script> -->
    <!-- <script src="js/drawLens-chapters.js" charset="utf-8"></script> -->
    <!-- <script src="js/selectChapter.js" charset="utf-8"></script> -->
    <!-- <script src="js/selectChapterTop.js" charset="utf-8"></script> -->
    <!-- <script src="js/drawBookTimeseries.js" charset="utf-8"></script> -->
    <!-- <script src="js/computeHappsChapters.js" charset="utf-8"></script> -->
    <!-- <script src="js/books-on-load.js"></script> -->
    <script src="js/books-all.js"></script>
  </body>
</html>




