{% extends "hedonometer/base.html" %}
{% load staticfiles %}
{% block headerextrameta %}
<meta property="og:url" id="fburl" content="http://hedonometer.org/maps.html" /> 
<meta property="og:title" id="fbtitle" content="Hedonometer Maps" /> 
<meta property="og:description" id="fbcontent" content="Explore the dynamics of emotion across both space and time in this interactive visualization. Brought to you by the University of Vermont's Computational Story Lab, a research group run by Peter Dodds and Chris Danforth. Front end visualization and back end code by Andy Reagan." />  
<meta property="og:image" id="fbimage" content="http://hedonometer.org/static/hedonometer/graphics/map.png" /> 
<!-- <meta property="og:video" content="http://www.youtube.com/v/1F7DKyFt5pY&fs=1" />  -->
<!-- <meta property="og:video:width" content="560" />   -->
<!-- <meta property="og:video:height" content="340" />   -->
<!-- <meta property="og:video:type" content="application/x-shockwave-flash" />  -->
{% endblock %}
{% block headercss %}
<link href="{% static "hedonometer/css/maps-all.min.css" %}" rel="stylesheet">
<link href="{% static "hedonometer/css/cities.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-lg-7" id="allleftpadding">
	<h3>Average Happiness Ranking of United States Cities for </h3>
      </div> <!-- column -->
      <div class="col-xs-6 col-lg-2" id="nopadding">
	<!-- Split button -->
	<div class="btn-group" id="timeSelect">
	  <button type="button" class="btn btn-default btn-lg timelabel">2014</button>
	  <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
	    <span class="caret"></span>
	    <span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a>2014</a></li>
	    <li><a>2013</a></li>
	    <li><a>2012</a></li>
	    <!-- <li><a>2011</a></li> -->
	  </ul>
	</div>
      </div>
      <div class="col-xs-6 col-lg-3">
	<h3><div class="addthis_sharing_toolbox pull-right"></div></h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-lg-7">
	<div class="paper">
	  <div id="barChart" class="figure"></div>
	</div> <!-- paper -->

      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-12 col-lg-5">
	<div class="paper">
	  <h5>Word Shift:</h5>
	  <div class="row">
	    <div class="col-xs-1" id="thisone">
	      <button type="button" class="btn btn-default btn-xs" id="rotate">Swap</button>
	    </div> <!-- column -->
	    <div class="col-xs-10">
	      <div class="row">
		<div class="row xtra-btm-padding">
		  <div class="col-xs-2">
		    <p class="pull-left">Ref:</p>
		  </div> <!-- column -->
		  <div class="col-xs-10">
		    <div class="btn-group" id="refSelect">
		      <button type="button" class="btn btn-default btn-xs reflabel">U.S. as a whole</button>
		      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		      </ul>
		    </div>
		    <button type="button" class="btn btn-default btn-xs pull-right selbutton one">Select on list</button>
		  </div>
		</div> <!-- column -->

		<div class="clearfix visible-xs"></div>


		<div class="row xtra-btm-padding">
		  <div class="col-xs-2">
		    <p class="pull-left">Comp:</p>
		  </div> <!-- column -->
		  <div class="col-xs-10">
		    <div class="btn-group" id="compSelect">
		      <button type="button" class="btn btn-default btn-xs complabel">Alaska</button>
		      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		      </ul>
		    </div>
		    <button type="button" class="btn btn-primary btn-xs pull-right selbutton two">Select on list</button>
		  </div> <!-- column -->
		</div> <!-- row -->

	      </div> <!-- row -->
	    </div> <!-- column -->
	  </div> <!-- row -->
	  <div id="shift01" class="figure">
	    <div class="row">
	      <div class="col-xs-12">
		<p class="sumtext text"></p>
	      </div> <!-- column -->
	    </div> <!-- text row -->
	  </div> <!-- shift figure -->
	</div> <!-- paper -->

      </div> <!-- map/shift column -->
    </div> <!-- main row -->
    <br>
    <br>
    <br>
    Instructions: Play around.  If this doesn't work see <a href="instructions.html?#cities">here</a> for help.
    <br>
    <br>
    <br>
  </div><!-- /.container-fluid -->
</div><!-- /.container -->

{% endblock %}

{% block bottomjs %}

    <script src="{% static "hedonometer/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "hedonometer/js/bootstrap.min.js" %}"></script>
    <script src="{% static "hedonometer/js/d3.andy.js" %}"></script>
    <script src="{% static "hedonometer/js/urllib.js" %}"></script>
    <script src="{% static "hedonometer/js/topojson.v1.min.js" %}"></script>
    <script src="{% static "hedonometer/js/hedotools.init.js" %}"></script>
    <script src="{% static "hedonometer/js/hedotools.shifter.js" %}"></script>
    <script src="{% static "hedonometer/js/hedotools.lens.js" %}"></script>
    <script src="{% static "hedonometer/js/hedotools.computeHapps.js" %}"></script>
    <script src="{% static "hedonometer/js/hedotools.barchart.js" %}"></script>
    <script src="{% static "hedonometer/js/cities-on-load.js" %}"></script>

{% endblock %}



