{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block headercss %}
    <link href="{% static "hedonometer/css/base-all.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
	<div class="col-xs-12 col-md-2">
	</div>
	<div class="col-xs-12 col-md-6">
	  <h3>Data</h3>

	  <p>We are happy to provide the daily time series of Happiness showcased here on the Hedonometer.
The most up-to-date data can be accessed in CSV format at the following URL: <a href="http://hedonometer.org/data/word-vectors/vacc/sumhapps.csv">http://hedonometer.org/data/word-vectors/vacc/sumhapps.csv</a>. Our API is still accessible, but has become outdated. You can find that here: <a href="legacyapi.html">legacyapi.html</a>.</p>

	  <p>In addition to the raw data shown on this site, we are working to provide detailed analysis around brands, financial products, and US politics at Quokka Labs. More information is available on the website: <a href="http://quokkalabs.io">quokkalabs.io</a> and on the "consulting" tab above.</p>

	</div> <!-- column -->
      </div>
    </div><!--container-->

{% endblock %}









