{% extends "hedonometer/base.html" %}
{% load staticfiles %}
{% block headercss %}
<link href="{% static "hedonometer/css/timeline-all.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
      <div class="infobox">
      </div>
      <p style="margin-bottom:0px; font-size: 11px;">
      </p>

      <noscript>
        <div id='unsupported' class='container error'>
          <h5>JavaScript Not Detected</h5>
          <p>The Hedonometer requires JavaScript to be enabled.</p>
        </div>
      </noscript>

      <!--[if lte IE 8]>
          <div class='ie' id='unsupported'>
	    <h4>Incompatible Browser</h4>
	    <p>The Hedonometer isn't compatible with versions of Internet Explorer before 9. Please upgrade or switch to <a href="http://google.com/chrome">Chrome</a>, <a h\ref="http://mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://apple.com/safari/">Safari</a>, or <a href="http://opera.com/">Opera</a> and revisit.</p>
	  </div>
      <![endif]-->
    </div>

    <h4>Average Happiness for Twitter: Development Version</h4>
    <div id="bigbox"></div>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title" id="modaltitle">Interactive Wordshift</h3>
          </div>
          <div class="modal-body" id="moveshifthere">
          </div>
          <div class="modal-footer" id="moveshiftherefooter">
            <div class="addthis_sharing_toolbox pull-left"></div>

            <div class="input-group restrain pull-right">
              <span class="input-group-btn">
                <button class="btn btn-default left" type="button">
                  Prev Day
                </button>
              </span>
              <input type="text" class="form-control" value="2013-04-15" id="dp1">
              <span class="input-group-btn">
                <button class="btn btn-default right" type="button">
                  Next Day
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block bottomjs %}

    <script src="{% static "hedonometer/js/dev-all.js" %}"></script>

{% endblock %}



