{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block headercss %}
    <link href="{% static "hedonometer/css/base-all.min.css" %}" rel="stylesheet">
    <style>
      .youtube { padding-bottom: 30px; }
      textarea { resize: vertical; }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
	<div class="jumbotron">
	  <h1>Use the hedonometer yourself.</h1>
	  <p>On this page you can compare two texts with a wordshift plot.</p>
	</div>
      </div>
      
      <form action="/diy-compare/" method="post" class="form" id="textInputForm">
	{% csrf_token %}
	<div class="row">
	  <div class="col-xs-12 col-md-1">
	  </div> <!-- column -->
	  <div class="col-xs-12 col-md-5">
	    <div class="form-group has-feedback" id="annotationInput">
	      <label class="control-label col-sm-5" for="inputSuccess4">Reference filename:</label>
	      <div class="col-sm-6" id="inputSuccess4col">
		<input type="text" class="form-control" id="" name="refFname">
		<span class="help-block"></span>
	      </div>
	    </div>
	    <textarea class="form-control" rows="3" name="refText">Enter Reference Text Here</textarea>
	  </div> <!-- column -->
	  <div class="col-xs-12 col-md-5">
	    <div class="form-group has-feedback" id="annotationInput">
	      <label class="control-label col-sm-5" for="inputSuccess4">Comparison filename:</label>
	      <div class="col-sm-6" id="inputSuccess4col">
		<input type="text" class="form-control" id="" name="compFname">
		<span class="help-block"></span>
	      </div>
	    </div>
	    <textarea class="form-control" rows="3" name="compText">Enter Comparison Text Here</textarea>
	  </div> <!-- column -->
	</div>
	<br>
	<div class="row">
	  <div class="col-xs-12 col-md-1">
	  </div> <!-- column -->
	  <div class="col-xs-12 col-md-11">
	    <button type="submit" class="btn btn-primary" id="makewordshift">Generate Wordshift</button>
	  </div> <!-- column -->
	</div>
      </form>
      <div class="row">
	<div class="col-xs-12 col-md-1">
	</div> <!-- column -->
	<div class="col-xs-12 col-md-11">
	  <div id="wordshift"></div>
	</div> <!-- column -->
      </div>
    </div><!--container-->
{% endblock %}

{% block bottomjs %}

    <script src="{% static "hedonometer/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "hedonometer/js/bootstrap.min.js" %}"></script>
    <script src="{% static "hedonometer/js/d3.andy.js" %}"></script>
    <script src="{% static "hedonometer/js/urllib.js" %}"></script>
    <script src="{% static "hedonometer/js/topojson.v1.min.js" %}"></script>
    <script src="{% static "hedonometer/js/plotShift-main.js" %}"></script>
    <script src="{% static "hedonometer/js/shift.js" %}"></script>
    <script src="{% static "hedonometer/js/compare-on-load.js" %}"></script>

{% endblock %}







