{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block headercss %}
    <link href="{% static "hedonometer/css/base-all.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
	<div class="col-xs-12 col-md-2">
	</div>
	<div class="col-xs-12 col-md-6">
	  <h3>Fund us</h3>

	  <p>
	    If you are interested in funding hedonometer.org please contact us via email: <a href="mailto:peter.dodds@uvm.edu,chris.danforth@uvm.edu?cc=andrea.elledge@uvm.edu&subject=Supporting hedonometer.org" target="_blank">hedonometer team leaders</a>.
	  </p>

	  <p>
	    We are continually seeking new sources of funding to support the growth and maintentance of hedonometer.org.
	    Our central goal is to provide a principled instrument for measuring the emotional content of texts, both in real-time for social media, and offline as we have for works of literature.
	    We are working hard to make hedonometer.org meaningful and useful for interested individuals and for stakeholders in the public sector, corporations, and the media.
	    We have many plans to expand upon what you see here.
	  </p>

	  <p>
	    The research behind and the construction of hedonometer.org have been made possible by the National Science Foundation and the MITRE corporation.
	  </p>

	</div> <!-- column -->
      </div>
    </div><!--container-->

{% endblock %}









