{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block headercss %}
    <link href="{% static "hedonometer/css/base-all.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
	<div class="col-xs-12 col-md-2">
	</div>
	<div class="col-xs-12 col-md-6">
	  <h3>Fund us</h3>

	  <p>
	    If you are interested in funding hedonometer.org please contact us via email: <a href="mailto:peter.dodds@uvm.edu,chris.danforth@uvm.edu?cc=andrea.elledge@uvm.edu&subject=Supporting hedonometer.org" target="_blank">hedonometer team leaders</a>.
	  </p>

	  <p>
	    We are continually seeking new sources of funding to support the growth and maintentance of hedonometer.org.
	    Our central goal is to provide a principled instrument for measuring the emotional content of texts, both in real-time for social media, and offline as we have for works of literature.
	    We are working hard to make hedonometer.org meaningful and useful for interested individuals and for stakeholders in the public sector, corporations, and the media.
	    We have many plans to expand upon what you see here.
	  </p>

	  <h4>Data and consulting</h4>

	  <p>In addition to the raw data shown on this site, we are working to provide detailed analysis around brands, financial products, and US politics at Quokka Labs. More information is available on the website: <a href="http://quokkalabs.io">quokkalabs.io</a>.</p>

          <!-- <form role="form" action="" method="post"> -->
          <!--   {% csrf_token %} -->
          <!--   <\!-- {{ form.as_p }} -\-> -->
          <!--   <button type="submit">Submit</button> -->
          <!-- </form> -->

          <p>We’re developing our research into an API and a Desktop App over at <a href="http://quokkalabs.io" target="_blank">Quokka Labs</a>, join the waitlist to find out more.</p>
          <br>
          <div class="col-sm-8 col-sm-offset-2 well">
            <form class="form" role="form" method="post" action="http://hedonometer.org/contact/">
              <h4 class="text-center">Join our waitlist</h4>
              <br>
            <!-- <form> -->
            {% csrf_token %}
            <div class="form-group">
              <!-- <label for="exampleInputEmail1">Email address</label> -->
              <input type="name" name="name" class="form-control" id="exampleInputName1" placeholder="Name">
            </div>
            <div class="form-group">
              <!-- <label for="exampleInputPassword1">Password</label> -->
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <!-- <label for="exampleInputPassword1">Password</label> -->
              <textarea name="comment" class="form-control" id="exampleInputComment1" placeholder="Comments?" rows="2"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
          </div>

          <div class="col-sm-12">

	  <hr>

	  <p>
	    The research behind and the construction of hedonometer.org have been made possible by the National Science Foundation and the MITRE corporation.
	  </p>
          </div>

	</div> <!-- column -->
      </div>
    </div><!--container-->

{% endblock %}









