{% extends "hedonometer/base.html" %}
{% load staticfiles %}
{% block headercss %}
<link href="{% static "hedonometer/css/timeline-all.min.css" %}" rel="stylesheet">
{% endblock %}

{% block headerjs %}
<script>
    var title = "{{ model.title|escapejs }}";
    var directory = "{{ model.directory|escapejs }}";
    var customLongTitle = "{{ model.customLongTitle|escapejs }}";
    var language = "{{ model.language|escapejs }}";
    var mediaFlag = "{{ model.mediaFlag|escapejs }}";
    var sumHappsFile = "{{ model.sumHappsFile|escapejs }}";
    var wordVecDir = "{{ model.wordVecDir|escapejs }}";
    var shiftDir = "{{ model.shiftDir|escapejs }}";
    var stopWordList = "{{ model.stopWordList|escapejs }}";
    var wordList = "{{ model.wordList|escapejs }}";
    var wordListEnglish = "{{ model.wordListEnglish|escapejs }}";
    var scoreList = "{{ model.scoreList|escapejs }}";
    var sourceDir = "{{ model.sourceDir|escapejs }}";
    // hardcode these...
    var startDate = "2008-09-10";
    var today = new Date;
    var endDate = today.toISOString().slice(0,10);
</script>
{% endblock %}


{% block content %}
    <div class="container">
      <div class="infobox">
        <h4>{{ model.customLongTitle }}</h4>
      </div>
      <p style="margin-bottom:0px; font-size: 11px;">
      </p>

      <noscript>
        <div id='unsupported' class='container error'>
          <h5>JavaScript Not Detected</h5>
          <p>The Hedonometer requires JavaScript to be enabled.</p>
        </div>
      </noscript>

      <!--[if lte IE 8]>
          <div class='ie' id='unsupported'>
	    <h4>Incompatible Browser</h4>
	    <p>The Hedonometer isn't compatible with versions of Internet Explorer before 9. Please upgrade or switch to <a href="http://google.com/chrome">Chrome</a>, <a h\ref="http://mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://apple.com/safari/">Safari</a>, or <a href="http://opera.com/">Opera</a> and revisit.</p>
	  </div>
      <![endif]-->

      <div id="datapanel"></div>
      <div id="chart"></div>

      <div id="wrap"></div>
      <div id="bigbox" class="container"></div>
      <div id="subrow"></div>
      <div id="yearsrow" style="margin-left:-57px;"></div>

    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title" id="modaltitle">Interactive Wordshift</h3>
          </div>
          <div class="modal-body" id="moveshifthere">
          </div>
          <div class="modal-footer" id="moveshiftherefooter">
            <div class="addthis_sharing_toolbox pull-left"></div>

            <!-- <button class="btn btn-primary" type="button" id="embedbutton" style="margin-right: 15px;" data-toggle="modal" href="#myModal2">Embed</button> -->

            <div class="input-group restrain pull-right">
              <span class="input-group-btn">
                <button class="btn btn-default left" type="button">
                  Prev Day
                </button>
              </span>
              <input type="text" class="form-control" value="2013-04-15" id="dp1">
              <span class="input-group-btn">
                <button class="btn btn-default right" type="button">
                  Next Day
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal2" data-backdrop="static">
      <div class="modal-dialog modal-sm">
	<div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Use wordshift</h4>
          </div><div class="container"></div>
          <div class="modal-body">
	    <h4>Direct Link</h4>
	    <textarea class="form-control input-sm" rows="2" id="linktextarea">http://hedonometer.org/index.html?date=2014-07-07</textarea>
	    <h4>Download</h4>
	    <div class="btn-group">
	      <a type="button" class="btn btn-default" id="svgbutton">SVG</a>
	      <button type="button" class="btn btn-default" id="pdfbutton">PDF</button>
	      <button type="button" class="btn btn-default" id="pngbutton">PNG</button>
	    </div>
	    <h4>Embed</h4>
	    <p>Copy this code:</p>
	    <textarea class="form-control input-sm" rows="4" id="embedtextarea"><iframe src="http://hedonometer.org/embed/main/2014-07-07-prev7/2014-07-07-sum/?wordtypes=negup" width="590" height="800" frameborder="0" scrolling="no"></iframe></textarea>
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <!-- <a href="#" class="btn btn-primary">Save changes</a> -->
          </div>
	</div>
      </div>
    </div>

    <!-- hidden form -->
    <form id="svgform" method="post" action="convertSVG">{% csrf_token %}
      <input type="hidden" id="output_format" name="output_format" value="">
      <input type="hidden" id="data" name="data" value="">
      <input type="hidden" id="date" name="date" value="">
    </form>
{% endblock %}

{% block bottomjs %}

    <script src="{% static "hedonometer/js/d3.js" %}"></script>
    <script src="{% static "hedonometer/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "hedonometer/js/bootstrap.js" %}"></script>
    <script src="{% static "hedonometer/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "hedonometer/js/urllib.js" %}"></script>
    <script src="{% static "hedonometer/js/hedotools.init.js" %}"></script>
    <script src="{% static "hedonometer/js/hedotools.shifter.js" %}"></script>
    <script src="{% static "hedonometer/js/loadLabMTlang.js" %}"></script>
    <script src="{% static "hedonometer/js/timeseries.js" %}"></script>

{% endblock %}
