{% extends "hedonometer/base.html" %}
{% load staticfiles %}

    {% block headercss %}
    <link href="{% static "hedonometer/css/base-all.min.css" %}" rel="stylesheet">
    <style>
      .relative { position: relative; } 
      .hedo-sidebar { position: fixed; }
      .hedo-sidenav {
      margin-top: 20px;
      margin-bottom: 20px;
      }
      .hedo-sidebar .nav>li>a {
      display: block;
      padding: 4px 20px;
      font-size: 13px;
      font-weight: 500;
      color: #999;
      }
      .hedo-sidebar .nav>li>a:hover {
      color: #563d7c;
      text-decoration: none;
      }
      .hedo-sidebar .nav .nav>li>a:hover, .hedo-sidebar .nav .nav>li>a:focus {
      padding-left: 29px;
      }
      .hedo-sidebar .nav .nav>li>a {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 30px;
      font-size: 12px;
      font-weight: 400;
      }
      .hedo-sidebar .nav .nav>li>a:hover {
      color: #563d7c;
      text-decoration: none;
      }
      .back-to-top {
      <!-- display: none; -->
      padding: 4px 20px;
      margin-top: 10px;
      margin-left: 20px;
      font-size: 12px;
      font-weight: 500;
      color: #999;
      }
      .back-to-top:hover {
      color: #563d7c;
      text-decoration: none;
      }
      /* all links */
      .hedo-sidebar .nav>li>a {
      /*add trasnparent border */
      border-left: 2px solid transparent;
      }
      /* active & hover links */
      .hedo-sidebar .nav>.active>a, 
      .hedo-sidebar .nav>li>a:hover, 
      .hedo-sidebar .nav>li>a:focus {
      color: #563d7c;                 
      text-decoration: none;          
      background-color: transparent;  
      border-left: 2px solid #563d7c; 
      }
      /* all active links */
      .hedo-sidebar .nav>.active>a, 
      .hedo-sidebar .nav>.active:hover>a,
      .hedo-sidebar .nav>.active:focus>a {
      font-weight: 700;
      }
      /* nested active links */
      .hedo-sidebar .nav .nav>.active>a, 
      .hedo-sidebar .nav .nav>.active:hover>a,
      .hedo-sidebar .nav .nav>.active:focus>a {
      font-weight: 500;
      }
      /* hide all (inactive) nested list */
      .hedo-sidebar .nav ul.nav {
      display: none;           
      }
      /* show active nested list */
      .hedo-sidebar .nav>.active>ul.nav {
      display: block;           
      }
    </style>
    {% endblock %}

{% block content %}

    <div class="container" id="top">
      <div class="row">
	<div class="col-xs-0 col-sm-0">
	</div>
	<div class="col-xs-12 col-sm-7 relative">
	  <div class="paper">
	  <h3 id="timeseries">Exploring Hedonometer 2.0′s global Twitter time series</h3>

	  <h4 id="timeseries-overview">Overview</h4>

	  <p>In this post, we’ll run through the basic features of our new interactive happiness time series for Twitter. We’ll first use words and pictures to orient your experience, and then finish with a video explanation.</p>

	  <p>Our method for measuring happiness, which we describe in a companion post and more fully in our foundational papers, relies on perceived happiness scores for individual words. The scale we use is 1 to 9, with 1 meaning extremely negative, 5 neutral, and 9 extremely positive. Our general experience with our measure is that scores for texts range between 5 and 7.</p>

	  <p>When you first visit hedonometer.org, you’ll see the daily happiness time series for the most recent 18 months of Twitter. For this overall visualization, we’ve analysed around 10% of all tweets going back to the end of 2008 using our English language Hedonometer (we’ll be adding time series for more languages soon).</p>

	  <p>Read the full post <a href="http://www.uvm.edu/storylab/2014/10/06/exploring-hedonometer-2-0s-global-twitter-time-series/" target="_blank">here.</a></p>


	  <h4 id="timeseries-video">Video:</h4>
	  <p>Time series explained:</p>
 
	  <iframe class="col-xs-12 col-sm-12 youtube" height="370" src="http://www.youtube.com/embed/ItfMpW9pSoI" frameborder="0" allowfullscreen></iframe>

	  <p>Again, read the full post <a href="http://www.uvm.edu/storylab/2014/10/06/exploring-hedonometer-2-0s-global-twitter-time-series/" target="_blank">here.</a></p>
	  </div>
	  <div class="paper">

	  <h3 id="wordshifts">Measuring happiness and using wordshifts</h3>

	  <h4 id="wordshifts-overview">Overview</h4>

	  <p>With our Hedonometer, we’re measuring how a (very capable) individual might feel when reading a large text—a day’s worth of tweets from New York City, the first chapter of Moby Dick, or the music lyrics from all UK pop songs released in 1983.</p>

	  <h5>Measuring happiness:</h5>

	  <p>We measure the happiness of large-scale texts using what we call a lexical meter. (We’ll be introducing two other kinds of meters in the near future: ground truth meters and bootstrap meters.)</p>

<p>We’ll describe two fundamental pieces of the Hedonometer in this post:</p>

<ol><li>1. How our simple measure works;</li>
<li>2. How to understand changes in happiness scores through our interactive word shifts.</li>
</ol>

	  <h5>Interactive Word shifts:</h5>

	  <p>Okay, now that we can measure happiness (or any other quantity for which we have a lexical, ground-truth, or bootstrap meter), we need to understand why scores go up and down. There are many sentiment measures around but for the most part they are opaque in their workings. The linearity of our measure allows us to show in great detail why one text is happier than another through what we call word shifts.</p>

	  <p>Read the full post <a href="http://www.uvm.edu/storylab/2014/10/06/hedonometer-2-0-measuring-happiness-and-using-word-shifts/" target="_blank">here.</a></p>


	  <h4 id="wordshifts-video">Video:</h4>
	  <p>Word shifts explained:</p>
 
	  <iframe class="col-xs-12 col-sm-12 youtube" height="370" src="http://www.youtube.com/embed/Z0M2k8TQ-t8" frameborder="0" allowfullscreen></iframe>

	  <p>Again, read the full post <a href="http://www.uvm.edu/storylab/2014/10/06/hedonometer-2-0-measuring-happiness-and-using-word-shifts/" target="_blank">here.</a></p>
          </div>

	  <div class="paper">
	  <h4 id="maps">Maps:</h4>
	  <p>
	  Funny story: we were lying when we said there'd be instructions for maps.
	  We will redeem ourselves soon.
	  </p>
	</div>	  
	</div>
	<div class="col-xs-0 col-sm-0">
	</div>
	<div class="col-xs-0 col-sm-3">
	  <div class="hedo-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
	    <ul class="nav hedo-sidenav">
	      <li>
		<a href="#timeseries">Timeseries</a>
		<ul class="nav">
		  <li><a href="#timeseries-overview">Overview</a></li>
		  <li><a href="#timeseries-video">Video</a></li>
		</ul>
	      </li>
	      <li>
		<a href="#wordshifts">Wordshifts</a>
		<ul class="nav">
		  <li><a href="#wordshifts-overview">Overview</a></li>
		  <li><a href="#wordshifts-video">Video</a></li>
		</ul>
	      </li>
	      <li>
		<a href="#maps">Maps</a>
	      </li>
	    <a class="back-to-top" href="#top">
              Back to top
            </a>
	    </ul>

	  </div>
	</div>
      </div>
    </div>

{% endblock %}

{% block bottomjs %}
    <!-- Javascript
     ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/hedonometer/js/jquery-1.11.0.min.js"></script>
    <script src="/static/hedonometer/js/bootstrap.js"></script>
    <script type="text/javascript">
      $('body').scrollspy({
      target: '.hedo-sidebar',
      offset: 40
      });
    </script>

{% endblock %}
