{% extends "hedonometer/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
      <div class="infobox">
        <h4>Average Happiness for Twitter: Labs</h4>
      </div>
      <p style="margin-bottom:0px; font-size: 11px;">
	Attempting to build a fine grained tool for sentiment analysis on Twitter.
	Key features are (1) variable time range, (2) variable time resolution, (3) variable range shift selection and (4) variable lens.
	The time range should be both visually (on the timeseries) and manually edit-able (calendars and such). For starters, just manually.
	Building an API to respond to arbitrarily time ranges with any resolution will be the most important feature.
	The time resolution will be chosen for you, based on the size of the time range. For very narrow ranges, we hope to provide minute-level resolution, and for the widest ranges, day resolution.
	The shift range selection will also be both visually and manually controlled.
	Or maybe just manually...multiple brushes on the same svg are tricky.
	
	This will be a lot like the existing books app.
      </p>

      <noscript>
        <div id='unsupported' class='container error'>
          <h5>JavaScript Not Detected</h5>
          <p>The Hedonometer requires JavaScript to be enabled.</p>
        </div>
      </noscript>

      <!--[if lte IE 8]>
          <div class='ie' id='unsupported'>
	    <h4>Incompatible Browser</h4>
	    <p>The Hedonometer isn't compatible with versions of Internet Explorer before 9. Please upgrade or switch to <a href="http://google.com/chrome">Chrome</a>, <a h\ref="http://mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://apple.com/safari/">Safari</a>, or <a href="http://opera.com/">Opera</a> and revisit.</p>
	  </div>
      <![endif]-->

      <div id="bigbox" class="container"></div>

    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title" id="modaltitle">Interactive Wordshift</h3>
          </div>
          <div class="modal-body" id="moveshifthere">
          </div>
          <div class="modal-footer" id="moveshiftherefooter">
            <div class="addthis_sharing_toolbox pull-left"></div>

            <div class="input-group restrain pull-right">
              <span class="input-group-btn">
                <button class="btn btn-default left" type="button" onclick="$('#dp1').datepicker('setDate',addDays($('#dp1').datepicker('getDate'),-1))">
                  Prev Day
                </button>
              </span>
              <input type="text" class="form-control" value="2013-04-15" id="dp1">
              <span class="input-group-btn">
                <button class="btn btn-default right" type="button" onclick="$('#dp1').datepicker('setDate',addDays($('#dp1').datepicker('getDate'),1))">
                  Next Day
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block bottomjs %}

    <script src="{% static "hedonometer/js/dev-all.min.js" %}"></script>

{% endblock %}



