{% extends "hedonometer/base.html" %}
{% load staticfiles %}
{% block headerextrameta %}
<meta property="og:url" id="fburl" content="http://hedonometer.org/maps.html" /> 
<meta property="og:title" id="fbtitle" content="Hedonometer Maps" /> 
<meta property="og:description" id="fbcontent" content="Explore the dynamics of emotion across both space and time in this interactive visualization. Brought to you by the University of Vermont's Computational Story Lab, a research group run by Peter Dodds and Chris Danforth. Front end visualization and back end code by Andy Reagan." />  
<meta property="og:image" id="fbimage" content="http://hedonometer.org/static/hedonometer/graphics/map.png" /> 
<!-- <meta property="og:video" content="http://www.youtube.com/v/1F7DKyFt5pY&fs=1" />  -->
<!-- <meta property="og:video:width" content="560" />   -->
<!-- <meta property="og:video:height" content="340" />   -->
<!-- <meta property="og:video:type" content="application/x-shockwave-flash" />  -->
{% endblock %}
{% block headercss %}
<link href="{% static "hedonometer/css/maps-all.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-lg-5">
	<h3>Average Happiness of United States for </h3>
      </div> <!-- column -->
      <div class="col-xs-6 col-lg-2">
	<h3>
	  <!-- Split button -->
	  <div class="btn-group" id="timeSelect">
	    <button type="button" class="btn btn-default timelabel">2011</button>
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"></span>
	      <span class="sr-only">Toggle Dropdown</span>
	    </button>
	    <ul class="dropdown-menu" role="menu">
	      <li><a>2013</a></li>
	      <li><a>2012</a></li>
	      <li><a>2011</a></li>
	      <!-- <li><a>Last Quarter</a></li> -->
	      <!-- <li><a>Last Month</a></li> -->
	      <!-- <li><a>Last Week</a></li> -->
	    </ul>
	  </div>
	</h3>
      </div>
      <div class="col-xs-6 col-lg-5">
	<h3><div class="addthis_sharing_toolbox pull-right"></div></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
	<!-- <h5>Map</h5> -->
	<div id="map01" class="figure"></div>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-12 col-sm-4">
	<h5>Word Shift:</h5>
	<div id="shift01" class="figure">
	  <div class="row">
	    <div class="col-xs-1" id="thisone">
	      <button type="button" class="btn btn-default btn-xs" id="rotate">Swap</button>
	    </div>
	    <div class="col-xs-10">
	      <div class="row">
		<div class="row xtra-btm-padding">
		  <div class="col-xs-3">
		    <p class="pull-left">Reference:</p>
		  </div> <!-- column -->
		  <div class="col-xs-9">
		    <div class="btn-group" id="refSelect">
		      <button type="button" class="btn btn-default btn-xs reflabel">All U.S.</button>
		      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		      </ul>
		    </div>
		    <button type="button" class="btn btn-default btn-xs pull-right selbutton one">Select On Map</button>
		  </div>
		</div> <!-- column -->

		<div class="clearfix visible-xs"></div>

		<div class="row xtra-btm-padding">
		  <div class="col-xs-3">
		    <p class="pull-left">Comparison:</p>
		  </div> <!-- column -->
		  <div class="col-xs-9">
		    <div class="btn-group" id="compSelect">
		      <button type="button" class="btn btn-default btn-xs complabel">Alaska</button>
		      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		      </ul>
		    </div>
		    <button type="button" class="btn btn-primary btn-xs pull-right selbutton two">Select On Map</button>
		  </div> <!-- column -->
		</div> <!-- row -->

	      </div> <!-- row -->
	    </div> <!-- column -->
	  </div> <!-- row -->
	  <div class="row">
	    <div class="col-xs-12">
	      <p class="sumtext text"></p>
	    </div> <!-- column -->
	  </div> <!-- text row -->
	</div> <!-- shift figure -->
      </div> <!-- map/shift column -->
    </div> <!-- main row -->
    <div class="row">
      <div class="hidden-xs col-sm-3">
      </div> <!-- column -->
      <div class="col-xs-12 col-sm-6">
	<div id="caption01">
	  Slide and resize the stop-window to change the lens:
	</div> <!-- caption -->
	<br>
	<div id="lens01" class="figure"></div>
      </div> <!-- column -->

      <div class="hidden-xs col-sm-3">
      </div> <!-- column -->
    </div> <!-- row -->
  </div><!-- /.container-fluid -->
</div><!-- /.container -->

{% endblock %}

{% block bottomjs %}

    <script src="{% static "hedonometer/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "hedonometer/js/bootstrap.min.js" %}"></script>
    <script src="{% static "hedonometer/js/d3.andy.js" %}"></script>
    <script src="{% static "hedonometer/js/urllib.js" %}"></script>
    <script src="{% static "hedonometer/js/topojson.v1.min.js" %}"></script>
    <script src="{% static "hedonometer/js/plotShift-main.js" %}"></script>
    <script src="{% static "hedonometer/js/shift-geo.js" %}"></script>
    <script src="{% static "hedonometer/js/drawLens-geo.js" %}"></script>
    <script src="{% static "hedonometer/js/drawMap.js" %}"></script>
    <script src="{% static "hedonometer/js/computeHapps-geo.js" %}"></script>
    <script src="{% static "hedonometer/js/drawList.js" %}"></script>
    <script src="{% static "hedonometer/js/maps-on-load.js" %}"></script>

{% endblock %}



