{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block headercss %}
    <link href="{% static "hedonometer/css/base-all.css" %}" rel="stylesheet">
    <style>
      .youtube { padding-bottom: 30px; }
      ul.movielist { list-style: square; }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
	<div class="col-xs-12 col-md-7">
	  <h3>Happiness of Stories: Over 1,000 Recent Movies</h3>
	  <p>Here is a list of all the movie scripts found at the Internet Movie Script Database, <a href="http://www.imsdb.com/">http://www.imsdb.com</a> that we were able to process:</p>
	  <ul class="movielist">
	    {% for movie in movie_list %}
	    <li><a href="/movies/{{ movie.title }}/">{{ movie.title }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div><!--container-->

{% endblock %}









