{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block extracss %}                                                                                                                                              
<!-- note that this CSS doesn't do anything -->
<style>
.paper_embed {
overflow: hidden;
border: 0;
height: 130;
width: 550;
}
</style>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
	<div class="col-xs-12">
	  <h3>Papers</h3>
	</div> <!-- column -->
      </div>
      <div class="row">
	<div class="col-xs-12 col-md-6">


	  <div class="row">
	    <div class="col-xs-9">
	      <h5 style="margin-top:0px;">Foundational Paper:</h5>
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/266/"></iframe>
	    </div> <!-- column -->
	  </div>

	  <div class="row">
	    <div class="col-xs-9">
	      <h5 style="margin-top:0px;">Foundational Paper:</h5>
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/58/"></iframe>
	    </div> <!-- column -->
	  </div>

	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/288/"></iframe>
	    </div> <!-- column -->
	  </div>

	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/290/"></iframe>
	    </div> <!-- column -->
	  </div>

	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/279/"></iframe>
	    </div> <!-- column -->
	  </div>

	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/286/"></iframe>
	    </div> <!-- column -->
	  </div>

	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/285/"></iframe>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/284/"></iframe>
	    </div> <!-- column -->
	  </div>

	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/51/"></iframe>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/53/"></iframe>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/56/"></iframe>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/57/"></iframe>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-9">
	      <iframe scrolling="no" class="paper_embed" type="text/html" frameborder="0" height="130" width="550" src="http://vermontcomplexsystems.org/paper/embed/62/"></iframe>
	    </div> <!-- column -->
	  </div>

	</div> <!-- column -->
      </div>

    </div><!--container-->

{% endblock %}




