{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
      <div class="row">
	<div class="col-xs-12">
	  <h3>Papers</h3>
	</div> <!-- column -->
      </div>
      <div class="row">
	<div class="col-xs-12 col-md-6">
	  <div class="row">
	    <div class="col-xs-3">
	      <center>
		<img width="70" height="70" src="{% static "hedonometer/graphics/papers/5.jpg" %}" class="img-polaroid">
	      </center>
	    </div> <!-- column -->
	    <div class="col-xs-9">
	      <h5 style="margin-top:0px;">Foundational Paper:</h5>
	      <i>Temporal Patterns of Happiness and Information in a Global-Scale Social Network: Hedonometrics and Twitter.</i><br>
	      P. S. Dodds, K. D. Harris, I. M. Kloumann, C. A. Bliss, C. M. Danforth. 2011.<br>
	      PLoS ONE, 6, e26752, 2011. <a href="http://www.uvm.edu/~cdanfort/research/2011-hedonometer-arxiv.pdf" target="_blank">[pdf]</a> <a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0026752" target="_blank">[journal url]</a>
	      <hr>
	    </div> <!-- column -->
	  </div>

	  <div class="row">
	    <div class="col-xs-3">
	      <center>
		<img width="70" height="70" src="{% static "hedonometer/graphics/papers/7.jpg" %}" class="img-polaroid">
	      </center>
	    </div> <!-- column -->
	    <div class="col-xs-9">
	      <h5 style="margin-top:0px;">Foundational Paper:</h5>
	      <i>Human language reveals a universal positivity bias.</i><br>
	      P. S. Dodds, E. M. Clark, S. Desu, M. R. Frank, A. J. Reagan, J. R. Williams, L. Mitchell, K. D. Harris, I. M. Kloumann, J. P. Bagrow, K. Megerdoomian, M. T. McMahon, B. F. Tivnan, and C. M. Danforth, 2014.<br>
	      <a href="http://www.uvm.edu/~pdodds/research/papers/files/2014/dodds2014a.pdf" target="_blank">[pdf]</a>
	      <a href="http://www.uvm.edu/storylab/share/papers/dodds2014a/index.html" target="_blank">[online app-endices]</a>
	      <hr>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-3">
	      <center>
		<img width="70" height="70" src="{% static "hedonometer/graphics/papers/1.jpg" %}" class="img-polaroid">
	      </center>
	    </div> <!-- column -->
	    <div class="col-xs-9">
	      <i>Happiness and the Patterns of Life: A Study of Geolocated Tweets.</i><br>
	      M. R. Frank, L. Mitchell, P. S. Dodds, C. M. Danforth. 2013. <br>
	      Scientific Reports 2013. Vol. 3, No: 2625, doi:10.1038/srep02625. <a href="http://www.nature.com/srep/2013/130911/srep02625/pdf/srep02625.pdf" target="_blank">[pdf]</a> <a href="http://www.nature.com/srep/2013/130911/srep02625/full/srep02625.html" target="_blank">[journal url]</a>
	      <hr>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-3">
	      <center>
		<img width="70" height="70" src="{% static "hedonometer/graphics/papers/2.jpg" %}" class="img-polaroid">
	      </center>
	    </div> <!-- column -->

	    <div class="col-xs-9">
	      <i>The Geography of Happiness: Connecting Twitter sentiment and expression, demographics, and objective characteristics of place.</i><br>L. Mitchell, K. D. Harris, M. R. Frank, P. S. Dodds, C. M. Danforth. 2013.<br>
	      PLoS ONE. 8(5): e64417. doi:10.1371/journal.pone.0064417<br>
	      <a href="http://arxiv.org/abs/1302.3299" target="_blank">[pdf]</a>  <a href="http://www.plosone.org/article/info:doi/10.1371/journal.pone.0064417" target="_blank">[journal url]</a><hr>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-3">
	      <center>
		<img width="70" height="70" src="{% static "hedonometer/graphics/papers/3.jpg" %}" class="img-polaroid">
	      </center>
	    </div> <!-- column -->

	    <div class="col-xs-9">
	      <i>Twitter Reciprocal Reply Networks Exhibit Assortativity with respect to Happiness.</i><br>
	      C. A. Bliss, I. M. Kloumann, K. D. Harris, C. M. Danforth, P. S. Dodds. 2012. <br>
	      Journal of Computational Science, 3, 388-397, 2012. 
	      <a href="http://www.uvm.edu/~cdanfort/research/bliss-jocs-3012.pdf" target="_blank">[pdf]</a> <a href="http://www.sciencedirect.com/science/article/pii/S187775031200049X" target="_blank">[journal url]</a><hr>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-3">
	      <center>
		<img width="70" height="70" src="{% static "hedonometer/graphics/papers/4.jpg" %}" class="img-polaroid">
	      </center>
	    </div> <!-- column -->
	    <div class="col-xs-9">
	      <i>Positivity of the English Language.</i><br>
	      I. M. Kloumann, C. M. Danforth, K. D. Harris, C. A. Bliss, P. S. Dodds. 2012.<br>PLoS ONE, 7, e29484, 2012. <a href="http://www.uvm.edu/~cdanfort/research/2012-kloumann-plos.pdf" target="_blank">[pdf]</a> <a href="http://www.plosone.org/article/info:doi%2F10.1371%2Fjournal.pone.0029484" target="_blank">[journal url]</a><hr>
	    </div> <!-- column -->
	  </div>
	  <div class="row">
	    <div class="col-xs-3">
	      <center>
		<img width="70" height="70" src="{% static "hedonometer/graphics/papers/6.jpg" %}" class="img-polaroid">
	      </center>
	    </div> <!-- column -->
	    <div class="col-xs-9">
	      <i>Measuring the Happiness of Large-Scale Written Expression: Songs, Blogs, and Presidents.</i><br>
	      P. S. Dodds, C. M. Danforth. 2009.
	      <br>
	      Journal of Happiness Studies, 11, 444-456, 2010. <a href="http://www.uvm.edu/~cdanfort/research/dodds-danforth-johs-2009.pdf" target="_blank">[pdf]</a> <a href="http://www.springerlink.com/content/757723154j4w726k/" target="_blank">[journal url]</a><hr>
	    </div> <!-- column -->
	  </div>

	</div> <!-- column -->
      </div>

    </div><!--container-->

{% endblock %}




