{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
      <div class="row">
	<div class="col-xs-0 col-sm-0">
	</div> <!-- column -->
	<div class="col-xs-12 col-sm-7">
	  <h3>Press Highlights</h3>
	  <p>Our work on measuring happiness has been covered in many news outlets including the New York Times, Science Magazine, Wired, The Atlantic, Scientific American, Discover Magazine, Reuters, CNN, USA Today, Time, Slashdot, The Today Show, Ellen, Mother Jones, BBC, Le Monde, and National Geographic.</p>

      <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/bbc-future.png" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
	<div class="col-xs-10">
	  <a title="Twitter study: Happiness rises the further you travel" href="http://www.bbc.com/future/story/20130411-want-to-be-happy-travel-further" target="_blank">Twitter study: Happiness rises the further you travel</a><br>
	  BBC Future, April 2013
	</div> <!-- column -->
      </div>
      <br>
      <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/wiredcouk.png" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
<div class="col-xs-10">
	  <a title="Mapping Happiness In American Cities, Using Twitter?" href="http://www.wired.co.uk/news/archive/2013-04/12/twitter-happiness" target="_blank">Study: geotagged tweets show we're happiest further from home</a><br>
	  Wired.co.uk, April 2013
	</div> <!-- column -->
      </div>
<br>       <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/fc_cd.png" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
<div class="col-xs-10">
	  <a title="Mapping Happiness In American Cities, Using Twitter?" href="http://www.fastcodesign.com/1671961/mapping-happiness-in-american-cities-using-twitter#1" target="_blank">Mapping Happiness In American Cities, Using Twitter?</a><br>
	  Fast Company, February 2013
	</div> <!-- column -->
      </div>
<br>       <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/atl.png" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
<div class="col-xs-10">
	  <a href="http://www.theatlantic.com/technology/archive/2013/02/the-geography-of-happiness-according-to-10-million-tweets/273286/" target="_blank">The Geography of Happiness According to 10 Million Tweets</a><br>
	  The Atlantic, February 2013
	</div> <!-- column -->
      </div>
<br>       <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/sci_mag.png" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
<div class="col-xs-10">
	  <a href="http://www.uvm.edu/%7Ecdanfort/press/Science-2011-Miller-1814-5.pdf" target="_blank">Social Scientists Wade Into The Tweet Stream</a><br>
	  Science Magazine, September 2011
	</div> <!-- column -->
      </div>
<br>       <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/wired.png" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
<div class="col-xs-10">
	  <a href="http://www.wired.com/wiredscience/2011/08/english-positivity/" target="_blank">Happy Words Trump Negativity in the English Language</a><br>
	  Wired, August 2011
	</div> <!-- column -->
      </div>
<br>       <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/sci_mag2.png" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
<div class="col-xs-10">
	  <a title="http://www.uvm.edu/~cdanfort/press/science-random-samples.pdf" href="http://www.uvm.edu/%7Ecdanfort/press/science-random-samples.pdf" target="_blank">Blogs: Happiness Barometers?</a><br>
	  Science Magazine, August 2009
	</div> <!-- column -->
      </div>
<br>       <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/schott.jpg" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
	<div class="col-xs-10">
	  <a title="http://schott.blogs.nytimes.com/2009/08/12/hedonometer/" href="http://schott.blogs.nytimes.com/2009/08/12/hedonometer/" target="_blank">Hedonometer</a> Schott’s Vocab Blog<br>
	  New York Times, August 2009
	</div> <!-- column -->
      </div>
<br>       <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/bits.png" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
	<div class="col-xs-10">
	  <a title="http://bits.blogs.nytimes.com/2009/08/11/using-twitter-as-a-collective-mood-ring/?apage=1" href="http://bits.blogs.nytimes.com/2009/08/11/using-twitter-as-a-collective-mood-ring/?apage=1" target="_blank">Using Twitter as a Collective Mood Ring</a><br>
	  New York Times, August 2009
	</div> <!-- column -->
      </div>
      <br>
<br>       <div class="row">
	<div class="col-xs-2">
	  <center>
	  <img width="70" height="70" src="{% static "hedonometer/graphics/sites/nyt_blogs.png" %}" class="img-polaroid">
	  </center>
	</div> <!-- column -->
	<div class="col-xs-10">
	  <a title="http://www.nytimes.com/2009/08/04/health/04mind.html?ref=science" href="http://www.nytimes.com/2009/08/04/health/04mind.html?ref=science" target="_blank">Does a Nation’s Mood Lurk in its Songs and Blogs?</a><br>
	  New York Times, August 2009
	</div> <!-- column -->
      </div>
      <br>

	</div> <!-- column -->
	<div class="col-xs-0 col-sm-4">
	</div> <!-- column -->
      </div>
      <div class="row">
	<div class="col-xs-2">
	</div> <!-- column -->
      </div>
      <div class="row">
	<div class="col-xs-10">
	</div> <!-- column -->
      </div>

    </div><!--container-->
    <br>
    <br>
    <br>

{% endblock %}
