{% extends "hedonometer/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
      <div class="row">
	<div class="col-xs-0 col-sm-0">
	</div> <!-- column -->
	<div class="col-xs-12 col-sm-7">
	  <h3>Press Highlights</h3>
	  <p>Our work on measuring happiness has been covered in many news outlets including the New York Times, Science Magazine, Wired, The Atlantic, Scientific American, Discover Magazine, Reuters, CNN, USA Today, Time, Slashdot, The Today Show, Ellen, Mother Jones, BBC, Le Monde, and National Geographic.</p>

      <div class="row">
            <div class="col-xs-9">
              <iframe scrolling="yes" class="press_embed" type="text/html" frameborder="0" height="800" width="550" src="http://vermontcomplexsystems.org/press/embed/project/hedonometer/"></iframe>
            </div> <!-- column -->
      </div>
    </div><!--container-->
    <br>
    <br>
    <br>

{% endblock %}
