{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container">
      <div class="row">
	<div class="col-xs-0 col-sm-0">
	</div>
	<div class="col-xs-12 col-sm-8">
	  <h3>How our word shifts work &mdash; a diagram plus a two minute video:</h3>
	  <img src="{% static "hedonometer/graphics/wordshift-explanation005.jpg" %}" width="600px">
          <hr>
	  <p>Word shifts explained in two minutes:</p>

	  <iframe width="640" height="390" src="http://www.youtube.com/embed/Kat9vyo5xQA" frameborder="0" allowfullscreen></iframe>

	</div>
	<div class="col-xs-0 col-sm-4">
	</div>
      </div>
    </div>

{% endblock %}

{% block bottomjs %}
    <!-- Javascript
     ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>

{% endblock %}
