{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container">
      <div class="row">
	<div class="col-xs-0 col-sm-0">
	</div>
	<div class="col-xs-12 col-sm-7">
	  <h3>How our word shifts work &mdash; a diagram plus a two minute video:</h3>
	  <img src="{% static "hedonometer/graphics/wordshift-explanation005.jpg" %}" class="img-responsive">
          <hr>
	  <p>Word shifts explained in two minutes:</p>
 
	  <!-- width="640" height="340" -->
	  <iframe class="col-xs-12" height="300" src="http://www.youtube.com/embed/Kat9vyo5xQA" frameborder="0" allowfullscreen></iframe>
	  
	</div>
	<div class="col-xs-0 col-sm-5">
	</div>
      </div>
    </div>

{% endblock %}

