{% extends "hedonometer/base.html" %}
{% load staticfiles %}

{% block headercss %}
    <link href="{% static "hedonometer/css/base-all.min.css" %}" rel="stylesheet">
    <style>
      .youtube { padding-bottom: 30px; }
      textarea { resize: vertical; }
    </style>
{% endblock %}

{% block headerjs %}
<!-- variables from Django for the JS to consume -->
<!-- <script> -->
<!--   var movie = "{{ movie|escapejs }}"; -->
<!-- </script> -->
{% endblock %}


{% block content %}
<div class="container">
  <h3>Wordshifterator > Edit</h3>      
      <!-- <h3>Edit your wordshift here</h3>       -->
      <br>
      <form action="{{ return_link }}" method="post" class="form" id="textInputForm" name="wordshifterator" onsubmit="return validateForm()">
	{% csrf_token %}
	<div class="row">
	  <div class="col-xs-12 col-md-offset-1 col-md-5">
	    <div class="form-group">
	      <label for="refTitle">Name of reference text:</label>
	      <input type="" class="form-control" id="refTitle" placeholder="Reference Title" name="refTitle" value="{{ model.refFileName }}">
	    </div>
	    <br>
	    <div class="form-group">
	      <label for="refText">Reference text:</label>
	      <textarea class="form-control" rows="10" id="refText" name="refText" placeholder="Paste Reference Text Here" {{ state }}>{{ filltext }}</textarea>
	    </div>
	  </div> <!-- column -->
	  <div class="col-xs-12 col-md-5">
	    <div class="form-group">
	      <label for="compTitle">Name of comparison text:</label>
	      <input type="" class="form-control" id="compTitle" placeholder="Comparison Title" name="compTitle" value="{{ model.compFileName }}">
	    </div>
	    <br>
	    <div class="form-group">
	      <label for="compText">Comparison text:</label>
	      <textarea class="form-control" rows="10" id="compText" name="compText" placeholder="Paste Comparison Text Here" {{ state }}>{{ filltext }}</textarea>
	    </div> <!-- form group -->
	  </div> <!-- column -->
	</div> <!-- row -->
	<div class="form-group form-horizontal row">
	  <label for="titleInput" class="control-label col-md-offset-1 col-md-1">Title:</label>
	  <div class="col-md-5">
	    <input type="" class="form-control" id="titleInput" placeholder="" name="titleInput" value="{{ model.customTitleText }}">
	  </div>
	</div>
	<div class="form-group form-horizontal row">
	  <label for="stopWordInput" class="control-label col-md-offset-1 col-md-1">Stopwords:</label>
	  <div class="col-md-5">
	    <input type="" class="form-control" id="stopWordInput" placeholder="Words to ignore, optional" name="stopWordInput" value="{{ model.stopWords }}">
	    <span class="help-block">A comma separated list of words that do not make sense in the context of these texts.</span>
	  </div>
	</div>
	<div class="form-group form-horizontal row">
	  <label class="control-label col-md-offset-1 col-md-1" for="formGroupInputSmall">Language</label>
	  <div class="col-sm-3">
	    <select class="form-control">
	      <option>English</option>
	      <option>Arabic</option>
	      <option>Chinese</option>
	      <option>French</option>
	      <option>German</option>
	      <option>Hindi</option>
	      <option>Indonesian</option>
	      <option>Korean</option>
	      <option>Pashto</option>
	      <option>Portuguese</option>
	      <option>Russian</option>
	      <option>Spanish</option>
	      <option>Urdu</option>
	    </select>
	  </div> <!-- column -->
	</div> <!-- form group -->
	<div class="row">
	  <div class="col-xs-12 col-md-offset-1 col-md-11">
	    <button type="submit" class="btn btn-primary" id="makewordshift">{{ submittext }}</button>
            <a class="pull-right" href="http://hedonometer.org/wordshifterator/">Cancel</a>
	  </div> <!-- column -->
	</div> <!-- row -->
      </form>
      <br>
    </div><!--container-->
{% endblock %}

{% block bottomjs %}

    <script src="{% static "hedonometer/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "hedonometer/js/bootstrap.min.js" %}"></script>
    <script src="{% static "hedonometer/js/wordshifterator-form.js" %}"></script>

{% endblock %}







