<div class="col-sm-6 col-sm-offset-3 paper">
  <p>We’re also developing our research into an API and a Desktop App over at <a href="http://quokkalabs.io" target="_blank">Quokka Labs</a>, join the waitlist to find out more, or just leave us a comment.</p>
  <form class="form" role="form" method="post" action="http://hedonometer.org/contact/">
    <h4 class="text-center">Join our waitlist</h4>
    <!-- <br> -->
    <!-- <form> -->
    {% csrf_token %}
    <div class="form-group">
      <!-- <label for="exampleInputEmail1">Email address</label> -->
      <input type="name" name="name" class="form-control" id="exampleInputName1" placeholder="Name">
    </div>
    <div class="form-group">
      <!-- <label for="exampleInputPassword1">Password</label> -->
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
      <!-- <label for="exampleInputPassword1">Password</label> -->
      <textarea name="comment" class="form-control" id="exampleInputComment1" placeholder="Comments?" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>
