{% extends "hedonometer/base.html" %}
{% load staticfiles %}
{% block headercss %}
<link href="{% static "hedonometer/css/books-all.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-5">
	<div id="booktitle" class="pullleft"></div>
      </div><!-- col -->
      <!-- <div class="col-xs-12 col-md-0"> -->
      <!-- </div><\!-- col -\-> -->
      <div class="col-xs-12 col-md-7">
	<!-- <label class="col-sm-2 input-label">Search:</label> -->
	<h2> 
	  <div class="input-group">
	    <!-- <h4>Search:</h4> -->
	    <!-- <input type="text" class="form-control typeahead" id="wordsearch" placeholder="Moby Dick"> -->
	    <input type="text" class="form-control" id="wordsearch" placeholder="Search Books">
	    <span class="input-group-btn">
	      <!-- Button and dropdown menu -->
	      <!-- <button class="btn btn-default" type="submit" id="showallmatching">Search</button> -->
	      <div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" id="searchtype" data-toggle="dropdown">by 
		  <span class="selection">Title</span>
		  <span class="caret"></span>
		  <span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu search">  <!-- dropdown-menu-right  role="menu"-->
		  <li><a href="#">Title</a></li>
		  <li><a href="#">Author</a></li>
		</ul>
	      </div>
              <button type="button" class="btn btn-default" tabindex="-1" id="randombook">Random</button>
	    </span>
	  </div>
	</h2>
	<p>
	<p class="form-control-static">email@example.com</p>
	  <select class="form-control pull-right" width="">
	    <option>Books used in analysis</option>
	    <option>All Project Gutenberg</option>
	  </select>
	</p>
      </div><!-- col -->
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-12 col-md-6">
	<div id="bookauthor" class="pullleft"></div>
      </div><!-- row -->
    </div><!-- row -->
    </div><!-- row -->
    <br>
    <div class="row">
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-12 col-sm-7">
	<!-- <h5>Timeseries and lens</h5> -->

	<div class="paper">
	  <b>Book happiness time series:</b>
	  <p>Explore the work's emotional dynamics by sliding and resizing the reference and comparison sections.</p>

	  <div id="chapters01" class="figure refslider"></div>
	  <div id="chapters03" class="figure"></div>
	  <div id="chapters02" class="figure compslider"></div>
	</div>



	<br>

	  <div class="paper paper-curl-left">
	    <div id="caption01" class="hidden-xs">
	      <b>Lens (for advanced users):</b>
	      <p>Slide and resize the stop-window to change the lens:</p>

	      <div id="lens01" class="figure"></div>
	    </div>

	    <div class="visible-xs">
	      <b>Lens (for advanced users):</b>
	      <p>Available on desktop.</p>
	    </div>
	  </div>

	<br>



      </div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs"></div>

      <div class="col-xs-12 col-sm-5">
	<div class="paper paper-curl-right">
	<b>Word Shift:</b>
	<!-- <p>Click on the graph and drag up to reveal additional words.</p> -->
	<div id="figure01" class="figure">
	    <p class="sumtext"></p>
	    <p class="sumtext"></p>
	    <p class="sumtext"></p>
	</div>
	</div>
	<div class="paper">
	  <b>Catalog Card</b>
	  <p class="basicinfobox">
	    Title:
	    <br>
	    Author:
	    <br>
	    Language:
	    <br>
	    Number of Words: 
	    <br>
	    Taxonomy (detected story type): 
	    <br>
	    10 Most Similar: 
	  </p>
	</div>
      </div>
    </div> <!-- row? -->
    <div class="row">
      <div class="col-xs-12 col-sm-4">
	</div>
      <div class="col-xs-12 col-sm-5">
	<p>Inspired by Kurt Vonnegut's <a href="https://www.youtube.com/watch?v=oP3c1h8v2ZQ">Shapes of Stories</a>.</p>
	<p>More details can also be found in the online appendices of the full paper <a href="http://www.uvm.edu/storylab/share/papers/dodds2014a/index.html">Human language reveals a universal positivity bias</a>.</p>
	</div> 
      <div class="col-xs-12 col-sm-2">
	</div>
    </div> <!-- row? -->
    <br>
  </div><!-- /.container-fluid -->
</div><!-- /.container -->
{% endblock %}

{% block bottomjs %}
    <script src="{% static "hedonometer/js/books-all.js" %}"></script>
{% endblock %}



