{% extends "hedonometer/base.html" %}
{% load static %}
{% block headercss %}
<link href="{% static "hedonometer/css/books-all.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
      </div><!-- row -->
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-12 col-md-5">
	<div id="booktitle" class="pullleft"></div>
      </div><!-- col -->
      <!-- <div class="col-xs-12 col-md-0"> -->
      <!-- </div><\!-- col -\-> -->
      <div class="col-xs-12 col-md-7">
	<!-- <label class="col-sm-2 input-label">Search:</label> -->
	<h2> 
	  <div class="input-group">
	    <!-- <h4>Search:</h4> -->
	    <!-- <input type="text" class="form-control typeahead" id="wordsearch" placeholder="Moby Dick"> -->
	    <input type="text" class="form-control" id="wordsearch" placeholder="Search Books">
	    <span class="input-group-btn">
	      <!-- Button and dropdown menu -->
	      <!-- <button class="btn btn-default" type="submit" id="showallmatching">Search</button> -->
	      <div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" id="searchtype" data-toggle="dropdown"><span class="text-muted">by </span>
		  <span class="selection">Title</span>
		  <span class="caret"></span>
		  <span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu search" id="titleauthor">  <!-- dropdown-menu-right  role="menu"-->
		  <li><a href="#">Title</a></li>
		  <li><a href="#">Author</a></li>
		</ul>
	      </div>
	      <div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" id="searchtype" data-toggle="dropdown"><span class="text-muted">using </span>
		  <span class="selection">only books in analysis</span>
		  <span class="caret"></span>
		  <span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu search" id="usinganalysis">  <!-- dropdown-menu-right  role="menu"-->
		  <li><a href="#">only books in analysis</a></li>
		  <li><a href="#">all Project Gutenberg</a></li>
		</ul>
	      </div>
	    </span>
	  </div>
	</h2>

	  <p>
          <button type="button" class="btn btn-default pull-right" tabindex="-1" id="randombook">Random book</button>
	  </p>
	  <!--   </span> -->
	  <!-- </div> -->
      </div><!-- col -->
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-12 col-md-6">
	<div id="bookauthor" class="pullleft"></div>
      </div><!-- row -->
    </div><!-- row -->
    </div><!-- row -->
    <br>
    <div class="row">
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-12 col-sm-7">
	<!-- <h5>Timeseries and lens</h5> -->

	<div class="paper">
	  <b>Book happiness time series:</b>
	  <p>Explore the work's emotional dynamics by sliding and resizing the reference and comparison sections.</p>

	  <div id="chapters01" class="figure refslider"></div>
	  <div id="chapters03" class="figure"></div>
	  <div id="chapters02" class="figure compslider"></div>
	</div>
	<br>

	  <div class="paper paper-curl-left">
	    <div id="caption01" class="hidden-xs">
	      <b>Lens (for advanced users):</b>
	      <p>Slide and resize the stop-window to change the lens:</p>

	      <div id="lens01" class="figure"></div>
	    </div>

	    <div class="visible-xs">
	      <b>Lens (for advanced users):</b>
	      <p>Available on desktop.</p>
	    </div>
	  </div>

	<br>



      </div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs"></div>

      <div class="col-xs-12 col-sm-5">
	<div class="paper paper-curl-right">
	<b>Word Shift:</b>
	<!-- <p>Click on the graph and drag up to reveal additional words.</p> -->
	<div id="figure01" class="figure">
	    <p class="sumtext"></p>
	    <p class="sumtext"></p>
	    <p class="sumtext"></p>
	</div>
	</div>
	<div class="paper">
	  <b>Catalog Card</b>
	  <p class="basicinfobox">
	    Title:
	    <br>
	    Author:
	    <br>
	    Language:
	    <br>
	    Number of Words: 
	    <br>
	    Average Happiness: 
	    <br>
	    Taxonomy (detected story type): 
	    <br>
	    Most Similar:
	    <br>
	    Hedonometric Analysis:
	    <br>
	    Hedonometer views:
	    <br>
	    Project Gutenberg downloads:
	    <br>
	    Project Gutenberg page:
	  </p>
	</div>
      </div>
    </div> <!-- row? -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 paper">
	<p>Inspired by Kurt Vonnegut's <a href="https://www.youtube.com/watch?v=oP3c1h8v2ZQ">Shapes of Stories</a>.</p>
	<p>More details can also be found in our <a href="https://arxiv.org/abs/1606.07772" target="_blank">preprint</a> or the <a href="http://www.uvm.edu/storylab/share/papers/reagan2016b/index.html">online appendices</a> of our article <i>The emotional arcs of stories are composed of a hierarchy of basic shapes</i>.</p>
<!-- <p>What we aren’t doing: -->
<!-- <ol> -->
<!-- <li style="display: list-item !important">Finding the plots of novels (we do not conflate the emotional arc and the plot).</li> -->
<!-- <li>Using Fourier transforms.</li> -->
<!-- <li>Imposing a set of shapes. Rather: the math and machine learning have identified them.</li> -->
<!-- </ol> -->
<!-- </p> -->
      </div>

          <br>
          <div class="col-sm-6 col-sm-offset-3 paper">
            <p>We’re also developing our research into an API and a Desktop App over at <a href="http://quokkalabs.io" target="_blank">Quokka Labs</a>, join the waitlist to find out more.</p>
            <form class="form" role="form" method="post" action="http://hedonometer.org/contact/">
              <h4 class="text-center">Join our waitlist</h4>
              <!-- <br> -->
            <!-- <form> -->
            {% csrf_token %}
            <div class="form-group">
              <!-- <label for="exampleInputEmail1">Email address</label> -->
              <input type="name" name="name" class="form-control" id="exampleInputName1" placeholder="Name">
            </div>
            <div class="form-group">
              <!-- <label for="exampleInputPassword1">Password</label> -->
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <!-- <label for="exampleInputPassword1">Password</label> -->
              <textarea name="comment" class="form-control" id="exampleInputComment1" placeholder="Comments?" rows="2"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
          </div>
    </div> <!-- row? -->
    <br>
  </div><!-- /.container-fluid -->
</div><!-- /.container -->
{% endblock %}

{% block bottomjs %}
<script src="{% static "hedonometer/js/d3.js" %}"></script>
<script src="{% static "hedonometer/js/jquery-1.11.0.min.js" %}"></script>
<script src="{% static "hedonometer/js/bootstrap.js" %}"></script>
<script src="{% static "hedonometer/js/typeahead.bundle.js" %}"></script>
<script src="{% static "hedonometer/js/urllib.js" %}"></script>
<script src="{% static "hedonometer/js/hedotools.init.js" %}"></script>
<script src="{% static "hedonometer/js/hedotools.shifter.js" %}"></script>
<script src="{% static "hedonometer/js/books/drawLens-chapters.js" %}"></script>
<script src="{% static "hedonometer/js/books/drawBookTimeseries.js" %}"></script>
<script src="{% static "hedonometer/js/books/selectChapter.js" %}"></script>
<script src="{% static "hedonometer/js/books/selectChapterTop.js" %}"></script>
<script src="{% static "hedonometer/js/books/computeHappsChapters.js" %}"></script>
<script type="text/javascript">
  var bookinfo = {"gutenberg_id": {{ book.gutenberg_id }},
                  "lang": "english",
                  "length": {{ book.length }},
                  "title": "{{ book.title }}",
                  "author": "{% for a in book.authors.all %}{{ a.fullname }}{% if not forloop.last %} and {% endif %}{% endfor %}",
                  "downloads": {{ book.downloads }},
                  "exclude": {{ book.exclude|yesno:"true,false" }},
                  "excludeReason": "{{ book.excludeReason }}",
                  "ignorewords": "{{ book.ignorewords }}",
  };
</script>
<script src="{% static "hedonometer/js/books/books-on-load-v3.js" %}"></script>
{% endblock %}



