.twitter-typeahead{ float:left; width:100%}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 15px;
    font-size: 14px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

p.sumtext { margin-bottom: 2px; }

div.refslider rect.extent {
    stroke-width: 2;
    stroke: rgb(100,100,100);
    opacity: 0.35;
    fill: rgb(100,100,100);
}

div.compslider rect.extent {
    stroke-width: 2;
    stroke: rgb(100,100,100);
    opacity: 0.35;
    fill: rgb(100,100,100);
    /* fill: #fefe81; */
}

#booktitle > h2 { margin-top: 3px; }
