/* normal colors */
.negdown { fill: #B3B3FF; }
.posdown { fill: #FFFFB3; }
.negup { fill: #4C4CFF; }
.posup { fill: #FFFF4C; }
.sumgrey { fill: #272727; }

.legendrect { cursor: pointer; }
.yearrect { cursor: pointer; }
.expanderbutton { cursor: pointer; }
.sumrectL { cursor: pointer; } 
.sumrectR { cursor: pointer; }
.resetbutton { cursor: pointer; }
svg image { cursor: pointer; }
g.help { cursor: pointer; }
