{% extends "consulting/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
      <div class="infobox">
        <h4>Average Ambient Happiness for Twitter around
	  <div class="btn-group">
	    <button type="button" class="btn btn-primary" id="keybtn">Breyers</button>
	    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"></span>
	      <span class="sr-only">Toggle Dropdown</span>
	    </button>
	    <ul class="dropdown-menu" role="menu">
	      <!-- <li><a href="index.html?key=ben & jerry's">ben & jerry's</a></li> -->
	      <!-- <li><a href="index.html?key=ben & jerrys">ben & jerrys</a></li> -->
	      <!-- <li><a href="index.html?key=ben and jerry's">ben and jerry's</a></li> -->
	      <!-- <li><a href="index.html?key=ben and jerrys">ben and jerrys</a></li> -->
	      <li><a href="index.html?key=breyers">breyers</a></li>
	      <!-- <li><a href="index.html?key=edy's">edy's</a></li> -->
	      <!-- <li><a href="index.html?key=edys">edys</a></li> -->
	      <!-- <li><a href="index.html?key=haagen dazs">haagen dazs</a></li> -->
	      <li><a href="index.html?key=klondike">klondike</a></li>
	      <li><a href="index.html?key=mars">mars</a></li>
	      <li><a href="index.html?key=nestle">nestle</a></li>
	      <li><a href="index.html?key=popsicle">popsicle</a></li>
	      <li><a href="index.html?key=dessert">dessert</a></li>
	      <!-- <li><a href="index.html?key=ice cream">ice cream</a></li> -->
	      <li><a href="index.html?key=gelato">gelato</a></li>
	      <li><a href="index.html?key=cone">cone</a></li>
	      <li><a href="index.html?key=snack">snack</a></li>
	      <li><a href="index.html?key=snacks">snacks</a></li>
	      <li><a href="index.html?key=candy">candy</a></li>
	      <li><a href="index.html?key=pint">pint</a></li>
	      <li><a href="index.html?key=flavor">flavor</a></li>
	      <li><a href="index.html?key=taste">taste</a></li>
	      <li><a href="index.html?key=chocolate">chocolate</a></li>
	      <li><a href="index.html?key=cookie">cookie</a></li>
	      <li><a href="index.html?key=cookies">cookies</a></li>
	      <!-- <li><a href="index.html?key=blue bell">blue bell</a></li> -->
	      <!-- <li><a href="index.html?key=blue bunny">blue bunny</a></li> -->
	      <!-- <li><a href="index.html?key=dreyers">dreyer's</a></li> -->
	      <!-- <li><a href="index.html?key=good humor">good humor</a></li> -->
	      <li><a href="index.html?key=magnum">magnum</a></li>
	      <li><a href="index.html?key=mars">mars</a></li>
	      <li><a href="index.html?key=nestle">nestle</a></li>
	      <li><a href="index.html?key=popsicle">popsicle</a></li>
	      <!-- <li><a href="index.html?key=turkey hill">turkey hill</a></li> -->
	      <!-- <li><a href="index.html?key=fruttare">fruttare</a></li> -->
	      <!-- <li><a href="index.html?key=skinny cow">skinny cow</a></li> -->
	      <li><a href="index.html?key=talenti">talenti</a></li>
	      <!-- <li><a href="index.html?key=ice-cream">ice-cream</a></li> -->
	      <!-- <li><a href="index.html?key=ice-lolly">ice-lolly</a></li> -->
	      <!-- <li><a href="index.html?key=ice lolly">ice lolly</a></li> -->
	      <li><a href="index.html?key=pre-packaged">pre-packaged</a></li>
	      <li><a href="index.html?key=prepackaged">prepackaged</a></li>
	      <li><a href="index.html?key=sticks">sticks</a></li>
	      <li><a href="index.html?key=tubs">tubs</a></li>
	      <li><a href="index.html?key=cups">cups</a></li>
	      <li><a href="index.html?key=pints">pints</a></li>
	      <!-- <li><a href="index.html?key=ice-cream parlour">ice-cream parlour</a></li> -->
	      <!-- <li><a href="index.html?key=ice cream parlour">ice cream parlour</a></li> -->
	      <li><a href="index.html?key=flavours">flavours</a></li>
	      <li><a href="index.html?key=taste">taste</a></li>
	      <li><a href="index.html?key=texture">texture</a></li>
	      <li><a href="index.html?key=vanilla">vanilla</a></li>
	      <li><a href="index.html?key=strawberry">strawberry</a></li>
	      <!-- <li><a href="index.html?key=chocolate bars">chocolate bars</a></li> -->
	      <!-- <li><a href="index.html?key=chocolate bar">chocolate bar</a></li> -->
	      <!-- <li><a href="index.html?key=candy bars">candy bars</a></li> -->
	      <!-- <li><a href="index.html?key=candy bar">candy bar</a></li> -->
	      <li><a href="index.html?key=cookie">cookie</a></li>
	      <li><a href="index.html?key=crisps">crisps</a></li>
	      <li><a href="index.html?key=hungry">hungry</a></li>
	      <li><a href="index.html?key=snack">snack</a></li>
	      <li><a href="index.html?key=snacks">snacks</a></li>
	      <li><a href="index.html?key=food">food</a></li>
	      <li><a href="index.html?key=eat">eat</a></li>
	      <li><a href="index.html?key=starving">starving</a></li>
	      <li><a href="index.html?key=dessert">dessert</a></li>
	    </ul>
	  </div>
	</h4>
      </div>
      <p style="margin-bottom:0px; font-size: 11px;">











      </p>

      <noscript>
        <div id='unsupported' class='container error'>
          <h5>JavaScript Not Detected</h5>
          <p>The Hedonometer requires JavaScript to be enabled.</p>
        </div>
      </noscript>

      <!--[if lte IE 8]>
          <div class='ie' id='unsupported'>
	    <h4>Incompatible Browser</h4>
	    <p>The Hedonometer isn't compatible with versions of Internet Explorer before 9. Please upgrade or switch to <a href="http://google.com/chrome">Chrome</a>, <a h\ref="http://mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://apple.com/safari/">Safari</a>, or <a href="http://opera.com/">Opera</a> and revisit.</p>
	  </div>
      <![endif]-->

      <div id="datapanel"></div>
      <div id="chart"></div>

      <div id="wrap"></div>
      <div id="bigbox" class="container"></div>
      <div id="subrow"></div>
      <div id="yearsrow" style="margin-left:-57px;"></div>

    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title" id="modaltitle">Interactive Wordshift</h3>
            <!-- <h3 class="modal-title" id="modaltitle">Interactive Wordshift <span class="label label-default">Major Event <i class="fa fa-signal"></i></span></h3> -->
            <!-- <button class="btn btn-default btn-sm" type="button"><i class="fa fa-signal"></i> Major Event</button> -->
          </div>
          <div class="modal-body" id="moveshifthere">
          </div>
          <div class="modal-footer">
            <div class="addthis_sharing_toolbox pull-left"></div>

            <div class="input-group restrain pull-right">
              <span class="input-group-btn">
                <!-- <button class="btn btn-default" type="button" onclick="nextDay(-1);"> -->
                <button class="btn btn-default" type="button" onclick="$('#dp1').datepicker('setDate',addDays($('#dp1').datepicker('getDate'),-1))">
                  Prev Day
                </button>
              </span>
              <input type="text" class="form-control" value="2013-04-15" id="dp1">
              <!-- <input type="text" class="form-control" > -->
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="$('#dp1').datepicker('setDate',addDays($('#dp1').datepicker('getDate'),1))">
                  Next Day
                </button>
              </span>
            </div>

            <!-- <div class="btn-group"> -->
            <!--   <button class="btn btn-default" onclick="nextDay(-1);">Prev Day</button> -->
            <!--   <button class="btn btn-default"><input type="text" class="span2" value="02-16-2014" id="dp1"></button> -->
            <!--   <button class="btn btn-default" onclick="nextDay(1);">Next Day</button> -->
            <!-- </div> -->

            <!-- <a href="#" class="btn btn-default">Embed Shift</a> -->
            <!-- <a href="#" data-dismiss="modal" class="btn">Close</a> -->
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block bottomjs %}

    <!-- Javascript                                                                                                                                                          
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "consulting/js/d3.js" %}" type="text/javascript"></script>
    <script src="{% static "consulting/js/minishift.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "consulting/js/bootstrap.js" %}"></script>
    <script src="{% static "consulting/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "consulting/js/urllib.js" %}"></script>
    <script src="{% static "consulting/js/loadlabMT.js" %}"></script>
    <script src="{% static "consulting/js/timeline2.js" %}"></script>
    <script src="{% static "consulting/js/shift.js" %}"></script>

{% endblock %}
