<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hedonometer &bull; Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="application-name" content="Hedonometer"/>
	<meta name="description" content="Hedonometer.org is an instrument that measures the happiness of large populations in real time. The hedonometer is based on people’s online expressions, capitalizing on data-rich social media, and measures how people present themselves to the outside world."/>
	<meta name="developer" content="Ivan Ramiscal, The MITRE Corporation"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="Hedonometer">
	<meta name="twitter:title" content="The Hedonometer">
	<meta name="twitter:description" content="Hedonometer.org is an instrument that measures the happiness of large populations in real time. The hedonometer is based on people’s online expressions, capitalizing on data-rich social media, and measures how people present themselves to the outside world.">
	<meta name="twitter:creator" content="@hedonometer">
	<meta name="twitter:image:src" content="http://www.hedonometer.org/graphics/selfies/hedoLarge.png">
	<meta name="twitter:domain" content="">
	
    <!-- Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <style type="text/css">
    .sitename a:link, .sitename a:visited, .sitename a:hover, .sitename a:active {color:white;}
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
		input[type="submit"] {margin-top:9px;}
    </style> 
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body>
	<div id="informational"class="container" itemscope itemtype="http://schema.org/WebApplication">
	<a itemprop="url" href="http://hedonometer.org"><div itemprop="name"><strong>Hedonometer</strong></div>
	</a><div itemprop="description">Hedonometer.org is an instrument that measures the happiness of large populations in real time. The hedonometer is based on people’s online expressions, capitalizing on data-rich social media, and measures how people present themselves to the outside world.</div>
	<div itemprop="creator" itemscope itemtype="http://schema.org/Organization">
	Created by: <span itemprop="name">The MITRE Corporation</span> &amp; <span itemprop="name">University of Vermont Complex Systems Center</span></div>
	</div>

	<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <span class="sitename"><a href="/">hedonometer</a></span>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li><a href="/about.html">About</a></li>
	              <li><a href="/shifts.html">Shifts</a></li>
	              <li><a href="/words.html">Words</a></li>
	              <li><a href="http://onehappybird.com" target="_blank">Blog</a></li>
	              <li><a href="/press.html">Press</a></li>
	              <li><a href="/papers.html">Papers</a></li>
	              <li><a href="/talks.html">Talks</a></li>
	
				  <li class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle" data-toggle="dropdown">Follow</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li role="presentation"><a ref="menuitem" tabindex="-1" href="https://twitter.com/intent/user?screen_name=hedonometer" target="_blank"><img alt="twitter" src="graphics/glyphicons_411_twitter.png" style="padding-right:10px;"/>Twitter</a></li>
						<li role="presentation"><a ref="menuitem" tabindex="-1" href="http://www.facebook.com/pages/hedonometerorg/101681233356073" target="_blank"><img alt="facebook" src="graphics/glyphicons_410_facebook.png" style="padding-right:10px;"/>Facebook</a></li>
						<li role="presentation"><a ref="menuitem" tabindex="-1" href="https://plus.google.com/106233287844414308724" rel="publisher" target="_blank"><img alt="google+" src="graphics/glyphicons_382_google_plus.png" style="padding-right:10px;"/>Google+</a></li>
					</ul>
				  </li>
				  </li>
				  <li class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle" data-toggle="dropdown" style="width:50px;">Share</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width:20px;">
						<li role="presentation" style="padding-left:20px">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hedonometer.org" data-text="A Remote-Sensor of Population Level Happiness: The Hedonometer" data-via="hedonometer">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

							</li>
						<li role="presentation" style="padding-left:20px">
							<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hedonometer.org&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
							</li>
						<li role="presentation" style="padding-left:20px">
							<!-- Place this tag where you want the +1 button to render. -->
							<div class="g-plusone" data-size="small" data-href="http://www.hedonometer.org"></div>

							<!-- Place this tag after the last +1 button tag. -->
							<script type="text/javascript">
							  (function() {
							    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							    po.src = 'https://apis.google.com/js/plusone.js';
							    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							  })();
							</script>							
						</li>
					</ul>
				  </li>
				  </li>

	            </ul>
					
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>


    <div class="container" id="container">
		<h3>Privacy Policy</h3>
		<p>The Hedonometer Team respects the privacy of its site users. This privacy policy explains the types of information collected from site visitors, and how we use that information. The use of the site constitutes acceptance of this policy.</p>
		<h4>Information Collected Automatically</h4>
		<p>When users visit the Hedonometer site, the site server logs basic information about each visit. We process this information monthly via an automated software tool to identify any site performance issues, popular sections and content, and other important site characteristics. This information does not identify you personally. This information is used only as a source of anonymous statistical information.</p>
		<p>The raw log data is retained for a minimum of 90 days.</p>
		<h4>Information Collected from E-mail and Web Forms</h4>
		<p>Users may contact us using information found on the About. We may share the information that you provide to us via e-mail within the Hedonometer Team to respond to your queries, but we do not provide information to anyone outside of the Team unless required by law to do so. We will never share your information with a third party for any commercial purpose.</p>
		<h4>Information Collected from Third Party Software</h4>
		<p>When users visit the Hedonometer site, users may link to third party software when they link to another party's website. We do not collect any information that may be collected by that third party; however, information you supply to that third party software may be collected and/or used by that party. For information about that third party's Privacy Policy, please see their respective website.</p>
		<h4>Information Collected from Third Party Media Sites</h4>
		<p>We currently use Facebook, Google, Twitter, YouTube and Vimeo as third party media sites. We do not collect any information that may be collected by that third party; however, information you supply to that third party software may be collected by that party. For information about that third party's Privacy Policy, please see their respective website.</p>
		<h4>Information Collected from Smartphone Applications</h4>
		<p>We do not collect any information that may be collected by a smartphone application; however, information you supply to that smartphone application may be collected by that party. For information about that third party's Privacy Policy, please see their respective website.</p>


<hr>

<div id="footer">
	<div id="footer-inner" style="padding-top:20px;">
	<p class="logo"><a href="http://www.mitre.org"><img alt="The MITRE Corporation" src="graphics/mitrelogo-whiteonblue.jpg" style="height:45px; margin-top:-2px; padding-right:30px;"/></a>
	<a href="http://uvm.edu"><img alt="University of Vermont" src="graphics/uvmlogosolid3425k.png" style="padding-right:15px;width:226px;height:54px;"/></a>
	<a href="http://www.uvm.edu/~cmplxsys/"><img alt="University of Vermont Complex Systems Center" src="graphics/CSC.png" style="padding-right:15px;height:57px;width:57px;"/></a>
	<a href="http://www.uvm.edu/~vacc/"><img alt="University of Vermont Advanced Computing Core" src="graphics/vacc.jpg" style="padding-right:15px;width:84.5px;height:54px;"/></a>
		<a href="http://onehappybird.com/"><img alt="computational story lab" src="graphics/csl.png" style="width:113px; height:54px"/></a>
	</p>
	<p style="font-size:12px; color:lightgrey;">Copyright &copy; 2013 The MITRE Corporation &amp; University of Vermont Complex Systems Center. All Rights Reserved.<br><a href="policy.html">Privacy Policy</a> |  Approved for Public Release: 13-0883. Distribution Unlimited.</p>
</div>
</div>
</div> <!-- /footer -->
    </div><!--/.fluid-container-->

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36404428-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>