<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <title>Hedonometer &bull; Word Shift</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="application-name" content="Hedonometer"/>
	<meta name="description" content="Hedonometer.org is an instrument that measures the happiness of large populations in real time. The hedonometer is based on people’s online expressions, capitalizing on data-rich social media, and measures how people present themselves to the outside world."/>
	<meta name="developer" content="Ivan Ramiscal, The MITRE Corporation"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="Hedonometer">
	<meta name="twitter:title" content="The Hedonometer">
	<meta name="twitter:description" content="Hedonometer.org is an instrument that measures the happiness of large populations in real time. The hedonometer is based on people’s online expressions, capitalizing on data-rich social media, and measures how people present themselves to the outside world.">
	<meta name="twitter:creator" content="@hedonometer">
	<meta name="twitter:image:src" content="http://www.hedonometer.org/graphics/selfies/wordshift.png">
	<meta name="twitter:domain" content="">

    <!-- Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/wordshift.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
	<script src="js/mousetrap.min.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script src="js/d3.js" type="text/javascript"></script>
	<script src="js/wordshift.js"></script>

	<!--script src="http://mbostock.github.com/d3/d3.v2.js?2.8.1"></script-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">


  </head>

  <body>
	<noscript>

	<div id="unsupported" class="container" itemscope itemtype="http://schema.org/WebApplication">
	<a itemprop="url" href="http://hedonometer.org"><div itemprop="name"><strong>Hedonometer</strong></div>
	</a><div itemprop="description">Hedonometer.org is an instrument that measures the happiness of large populations in real time. The hedonometer is based on people’s online expressions, capitalizing on data-rich social media, and measures how people present themselves to the outside world.</div>
	<div itemprop="creator" itemscope itemtype="http://schema.org/Organization">
	Created by: <span itemprop="name">The MITRE Corporation</span> &amp; <span itemprop="name">University of Vermont Complex Systems Center</span></div>
	</div>
	<hr>
	<div class="container error">
	<div id='unsupported'>
	<h5>JavaScript Not Detected</h5>
	<p>The Hedonometer requires JavaScript to be enabled.</p>
	</div>
	</div>
	</noscript>
	<!--[if lte IE 8]>
	<div class='ie' id='unsupported'>
	<h4>Incompatible Browser</h4>
	<p>The Hedonometer isn't compatible with versions of Internet Explorer before 9. Please upgrade or switch to <a href="http://google.com/chrome">Chrome</a>, <a href="http://mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://apple.com/safari/">Safari</a>, or <a href="http://opera.com/">Opera</a> and revisit.</p>
	</div>
	<![endif]-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		      <div class="navbar-inner">
		        <div class="container">
		          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <span class="sitename"><a href="/" target="_parent">hedonometer</a></span>
		          <div class="nav-collapse collapse">
		            <ul class="nav">
						<li><a href="/shifts.html">Explanation</a></span></li>
						<li><a href="javascript:self.close()">close</a></span></li>
		            </ul>
		          </div><!--/.nav-collapse -->
		        </div>
		      </div>
		    </div>

<div class="container" id="wordshift-container">
	<div class="row-fluid">
	<div id="wordshift"></div>
	<div id="footer">
<hr>		
<div class="span12" style="margin-left:0px; background-color:clear; width="100%">
	<a id="tweetLink" href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hedonometer.org/wordshift.html?date=<%if params[:date]%><%=params[:date]%><%end%>" data-text="Word shift <%if params[:date]%>for <%=params[:date]%><%end%>" data-via="hedonometer">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hedonometer.org&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:20px;" allowTransparency="true"></iframe>
	<!-- Place this tag where you want the +1 button to render. -->
	<div class="g-plusone" data-size="medium" data-href="http://www.hedonometer.org"></div>
	<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
	(function() {
	 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	 po.src = 'https://apis.google.com/js/plusone.js';
	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
	</script>							
</div>	
</div>	
		
		
		
		<div id="footer-inner" style="padding-top:20px;">
			<p class="logo"><a href="http://www.mitre.org"><img alt="The MITRE Corporation" src="graphics/mitrelogo-whiteonblue.jpg" style="height:45px; margin-top:-2px; padding-right:30px;"/></a>
			<a href="http://uvm.edu"><img alt="University of Vermont" src="graphics/uvmlogosolid3425k.png" style="padding-right:15px;width:226px;height:54px;"/></a>
			<a href="http://www.uvm.edu/~cmplxsys/"><img alt="University of Vermont Complex Systems Center" src="graphics/CSC.png" style="padding-right:15px;height:57px;width:57px;"/></a>	
			<a href="http://www.uvm.edu/~vacc/"><img alt="University of Vermont Advanced Computing Core" src="graphics/vacc.jpg" style="padding-right:15px;width:84.5px;height:54px;"/></a>
			<a href="http://onehappybird.com/"><img alt="computational story lab" src="graphics/csl.png" style="width:113px; height:54px"/></a>
			</p>
			<p style="font-size:12px; color:lightgrey;">Copyright &copy; 2013 The MITRE Corporation &amp; University of Vermont Complex Systems Center. All Rights Reserved.<br><a href="policy.html">Privacy Policy</a> |  Approved for Public Release: 13-0883. Distribution Unlimited.</p>
		</div>
	</div><!-- /footer -->
	</div><!--/.fluid-container-->
</div>


<script type="text/javascript">
	var pulldate = getUrlVars()["date"];
	window.onload = wordshift(pulldate);
</script>

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36404428-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
